Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

--Init commit - allow for glb files; remove stage config object paths
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.cpp
Due: clang-format

--template load of any extension.
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
Due: clang-format

--Expand functionality to accept arbitrary extension
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
Due: clang-format

migrate changes
  examples/tutorials/physics_benchmarking.py
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletBase.cpp
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/sim/Simulator.h
Due: clang-format

--last bit of functionality.
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Add JSON serialization + testing for AssetInfo w/ PhongMaterialColor
  src/esp/io/JsonEspTypes.h
  src/esp/io/JsonMagnumTypes.h
  src/tests/IOTest.cpp
Due: clang-format

Update gfxReplayTest with material override example
  src/tests/GfxReplayTest.cpp
Due: clang-format

hack for gfx-replay communication via named pipe
  src/esp/gfx/replay/Player.cpp
  src/esp/gfx/replay/Player.h
  src/esp/gfx/replay/Recorder.cpp
  src/esp/gfx/replay/Recorder.h
  src/esp/gfx/replay/ReplayManager.cpp
  src/esp/gfx/replay/ReplayManager.h
Due: clang-format

--add test to verify creating .glb-based attributes via path query
  data/test_assets/dataset_tests/dataset_0/stages/stage_test_glbs/glbload_test_stage0.glb
  data/test_assets/dataset_tests/dataset_0/stages/stage_test_glbs/glbload_test_stage1.glb
  data/test_assets/dataset_tests/dataset_0/stages/stage_test_glbs/glbload_test_stage2.glb
  data/test_assets/dataset_tests/dataset_0/test_dataset_0.scene_dataset_config.json
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

Allow ".glb" scene dataset path options (#1255)
  data/test_assets/dataset_tests/dataset_0/stages/stage_test_glbs/glbload_test_stage0.glb
  data/test_assets/dataset_tests/dataset_0/stages/stage_test_glbs/glbload_test_stage1.glb
  data/test_assets/dataset_tests/dataset_0/stages/stage_test_glbs/glbload_test_stage2.glb
  data/test_assets/dataset_tests/dataset_0/test_dataset_0.scene_dataset_config.json
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/core/managedContainers/ManagedFileBasedContainer.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/tests/MetadataMediatorTest.cpp
  src/tests/SimTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

migrate contact point query related changes
  examples/tutorials/physics_benchmarking.py
  src/esp/bindings/PhysicsBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/sim/Simulator.h
Due: clang-format

add SimulatorConfiguration::createMagnumRenderer and support for a Simulator without a Magnum/OpenGL context
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/GenericDrawable.cpp
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
Due: clang-format

add make_video_during_simulation and test SimulatorConfiguration.create_magnum_renderer=False
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
Due: jupytext-sync

update python to handle case of null _sim.renderer
  habitat_sim/simulator.py
Due: none

modify PhysicsTest and GfxReplayTest to not use a graphics context
  src/tests/GfxReplayTest.cpp
  src/tests/PhysicsTest.cpp
Due: clang-format

python binding for SimulatorConfiguration.createMagnumRenderer
  src/esp/bindings/SimBindings.cpp
Due: clang-format

refactor addressing reviews
  src/esp/io/JsonEspTypes.h
  src/tests/GfxReplayTest.cpp
Due: clang-format

refactor PhysicsSimulationLibrary enum to Pascal case
  src/esp/bindings/PhysicsBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/tests/PhysicsTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_physics.py
Due: clang-format

[AO migration] ResourceManager (#1228)
  src/esp/assets/Asset.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SceneBindings.cpp
  src/esp/io/JsonEspTypes.h
  src/esp/io/JsonMagnumTypes.h
  src/tests/GfxReplayTest.cpp
  src/tests/IOTest.cpp
Due: clang-format

[AO migration] minor physics changes (#1254)
  examples/tutorials/physics_benchmarking.py
  src/esp/bindings/PhysicsBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletBase.cpp
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/sim/Simulator.h
  src/tests/PhysicsTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_physics.py
Due: clang-format

cache recently used physics timestep
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
Due: clang-format

minor
  data/pbr/brdflut_ldr_512x512.png
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/PbrImageBasedLighting.cpp
  src/esp/gfx/PbrImageBasedLighting.h
  src/esp/gfx/PbrIrradianceMapShader.cpp
  src/esp/gfx/PbrIrradianceMapShader.h
  src/shaders/Shaders.conf
  src/shaders/pbr.frag
  src/shaders/pbrIrradianceMap.frag
  src/shaders/pbrIrradianceMap.vert
Due: clang-format

Add --no-lto flag
  setup.py
  src/CMakeLists.txt
Due: none

Fix spelling in setup.py
  .pre-commit-config.yaml
  setup.py
Due: none

Fix incorrectly configured LTO (#1242)
  .circleci/config.yml
  .pre-commit-config.yaml
  setup.py
  src/CMakeLists.txt
Due: none

minor
  src/esp/gfx/PbrIrradianceMapShader.cpp
  src/shaders/pbrIrradianceMap.frag
Due: clang-format

[Clang-Tidy] Enable new checks and remove bad consts
  .clang-tidy
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SensorBindings.cpp
  src/esp/gfx/DrawableGroup.cpp
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/Renderer.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/nav/PathFinder.cpp
  src/esp/nav/PathFinder.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletBase.cpp
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/physics/bullet/BulletRigidStage.h
  src/esp/scene/SceneGraph.cpp
  src/esp/scene/SemanticScene.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Modernize CMake visibility presets
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
Due: none

Fix clang-tidy
  src/esp/geo/VoxelWrapper.cpp
Due: clang-format

Add missing modernize-check
  .clang-tidy
Due: none

One more modernize check
  .clang-tidy
Due: none

Fix bad ellision
  src/esp/gfx/Renderer.cpp
Due: clang-format

Revert behavior to original
  src/esp/gfx/Renderer.cpp
Due: clang-format

One more clang-tidy const check
  .clang-tidy
Due: none

Remove obsolete check
  .clang-tidy
Due: none

Reorder clang-tidy
  .clang-tidy
Due: none

Fix typo
  src/esp/geo/VoxelWrapper.cpp
Due: clang-format

minor
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/PbrIrradianceMapShader.cpp
  src/esp/gfx/PbrIrradianceMapShader.h
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrTextureUnit.h
  src/shaders/pbrIrradianceMap.frag
Due: clang-format

minor
  src/esp/gfx/CubeMap.h
  src/esp/gfx/CubeMapCamera.cpp
  src/esp/gfx/CubeMapCamera.h
  src/esp/gfx/PbrImageBasedLighting.cpp
  src/esp/gfx/PbrImageBasedLighting.h
  src/esp/gfx/PbrIrradianceMapShader.cpp
  src/esp/gfx/PbrIrradianceMapShader.h
  src/esp/gfx/Renderer.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
