Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Format fix
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Bugfix for colab install.sh
  examples/colab_utils/colab_install.sh
Due: none

Remove leftover mess
  examples/colab_utils/colab_install.sh
Due: none

Nit: change from habitat-api to habitat-lab in colab scripts (#736)
  examples/colab_utils/colab_install.sh
Due: none

Added std lib to exlude from docs build pipeline
  docs/Doxyfile
Due: none

Change full config title
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Minor text format corrections
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

smal
  tools/sync_notebooks.sh
Due: none

Added std lib to exlude from docs build pipeline (#738)
  docs/Doxyfile
Due: none

syncing with master
  examples/colab_utils/colab_install.sh
Due: none

changed name of parameter
  habitat_sim/utils/data/data_extractor.py
Due: none

smell change
  habitat_sim/utils/data/pose_extractor.py
Due: none

Final modifications
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Update to new MaterialData APIs in Magnum.
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/RenderTarget.cpp
Due: clang-format

Add shellcheck linter
  .pre-commit-config.yaml
  build.sh
  build_js.sh
  tools/gen_gibson_semantics.sh
Due: none

Add a few more pre-commit hooks
  .pre-commit-config.yaml
Due: none

ECCV 2020 tutorial: Interactivity and Advanced Features (#724)
  .circleci/config.yml
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  tests/test_examples.py
Due: jupytext-sync

Fix missing cli arg
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Add mising shell file
  install_deps.sh
Due: none

show_video bugfix in interactivity
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

ECCV 2020 tutorial: Navigation Basics (#721)
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  tests/test_examples.py
Due: jupytext-sync

Added a shell-script linter (#741)
  .pre-commit-config.yaml
  build.sh
  build_js.sh
  install_deps.sh
  tools/gen_gibson_semantics.sh
Due: none

Moved tinyxml2 to src/deps
  src/cmake/dependencies.cmake
  src/deps/tinyxml2/CMakeLists.txt
  src/deps/tinyxml2/tinyxml2.cpp
  src/deps/tinyxml2/tinyxml2.h
  src/esp/io/CMakeLists.txt
  src/esp/io/tinyxml2/.clang-tidy
Due: none

-Allow for expanded 'read-only' setting for Attributes Templates.
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Add io::URDF namespace and refactor URDFParser files.
  src/esp/io/URDFParser.cpp
  src/esp/io/URDFParser.h
  src/tests/IOTest.cpp
Due: clang-format

--Expand removal handling; Add Tests.
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/tests/AttributesManagersTest.cpp
  tests/test_attributes_managers.py
Due: clang-format

-Allow for expanded 'read-only' setting for Attributes Templates. (#744)
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/tests/AttributesManagersTest.cpp
  tests/test_attributes_managers.py
Due: clang-format

to be tested
  src/esp/gfx/PTexMeshDrawable.cpp
  src/esp/gfx/PTexMeshShader.cpp
  src/esp/gfx/PTexMeshShader.h
  src/shaders/ptex-default-gl410.frag
Due: clang-format

--Fix 2 bugs with loading collision meshes.
  src/esp/assets/ResourceManager.cpp
Due: clang-format

minor
  src/esp/assets/ResourceManager.cpp
Due: clang-format

--Fix 2 bugs with loading collision meshes. (#746)
  src/esp/assets/ResourceManager.cpp
Due: clang-format

done
  src/esp/assets/PTexMeshData.cpp
  src/esp/assets/PTexMeshData.h
  src/esp/gfx/Drawable.h
  src/esp/gfx/PTexMeshDrawable.cpp
  src/esp/gfx/PTexMeshDrawable.h
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Bug fix: no frustum culling for replica data set.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

Update to new MaterialData APIs in Magnum. (#740)
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/RenderTarget.cpp
Due: clang-format

Fix pip install and shlex in setup.py
  setup.py
Due: none

minor
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

minor
  src/esp/assets/ResourceManager.h
Due: clang-format

Bug fix: no frustum culling for replica data set. (#747)
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

Fix setup.py and add testing framework and install
  setup.py
Due: none

Update URDFParser.h
  src/esp/io/URDFParser.h
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
