Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Convert custom material override into resource key and re-use instead of recreate (#1193)
  src/esp/assets/ResourceManager.cpp
Due: clang-format

--Break out file directory access into FileBased managed object base
  src/esp/bindings/AttributesBindings.cpp
  src/esp/core/managedContainers/AbstractManagedObject.h
  src/esp/core/managedContainers/ManagedFileBasedContainer.h
  src/esp/metadata/attributes/AttributesBase.h
Due: clang-format

--fix new black complaints.
  examples/tutorials/physics_benchmarking.py
Due: none

--Fix black complaint in comment.
  examples/tutorials/physics_benchmarking.py
Due: none

--Fix black complaint in comment. (#1196)
  examples/tutorials/physics_benchmarking.py
Due: none

Pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

flake8 dependencies update
  .pre-commit-config.yaml
Due: none

Flake8 repo moved
  .pre-commit-config.yaml
Due: none

Managed file based container for Managed Container File IO (#1195)
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/CoreBindings.cpp
  src/esp/bindings/bindings.h
  src/esp/core/CMakeLists.txt
  src/esp/core/managedContainers/AbstractManagedObject.h
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/core/managedContainers/ManagedContainerBase.cpp
  src/esp/core/managedContainers/ManagedContainerBase.h
  src/esp/core/managedContainers/ManagedFileBasedContainer.h
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/metadata/managers/AttributesManagerBase.h
Due: clang-format

[PRECOMMIT] Precommit autoupdate (#1197)
  .pre-commit-config.yaml
Due: none

First draft data download script
  habitat_sim/utils/datasets_download.py
Due: none

Improved error handling. Optional overriding/replacement with commandline arg or user prompt.
  habitat_sim/utils/datasets_download.py
Due: none

Update src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.cpp
Due: clang-format

Added some docs. Added user input for data_path directory
  habitat_sim/utils/datasets_download.py
Due: none

tol 1e-5 too tight for checking normalized quaternions
  habitat_sim/utils/validators.py
Due: none

Create user provided paths which don't exist. Default data_path fetched from git root.
  habitat_sim/utils/datasets_download.py
Due: none

Use shutil to remove old data
  habitat_sim/utils/datasets_download.py
Due: none

use python zipfile module for unpacking
  habitat_sim/utils/datasets_download.py
Due: none

Use os.remove instead of system 'rm'
  habitat_sim/utils/datasets_download.py
Due: none

refactor to "if not dict.get(key)"
  habitat_sim/utils/datasets_download.py
Due: none

Set args --clean and --replace to be mutually exclusive
  habitat_sim/utils/datasets_download.py
Due: none

Apply suggestions
  src/cmake/dependencies.cmake
Due: none

test
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/RenderTarget.h
  src/esp/gfx/Renderer.cpp
Due: clang-format

tol 1e-5 too tight for checking normalized quaternions (#1199)
  habitat_sim/utils/validators.py
Due: none

convert to f-string formatting for better readability
  habitat_sim/utils/datasets_download.py
Due: none

[RECAST] Recast Navigation update (#1194)
  src/cmake/dependencies.cmake
Due: none

[SENSOR][PYTHON][WEBGL] Equirectangular Bindings (#1187)
  examples/settings.py
  habitat_sim/__init__.py
  habitat_sim/bindings/__init__.py
  habitat_sim/sensor.py
  src/esp/bindings/SensorBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  tests/test_sensors.py
Due: clang-format

address review
  habitat_sim/utils/datasets_download.py
Due: none

minor
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/RenderTarget.h
  src/esp/gfx/Renderer.cpp
Due: clang-format

Add CircleCI Validator and update JuPyText
  .pre-commit-config.yaml
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Remove trailing slash
  .pre-commit-config.yaml
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
Due: jupytext-sync

Revert accidental test conversion
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
Due: jupytext-sync

Precommit autoupdate
  .pre-commit-config.yaml
Due: none

Fix sync script
  tools/sync_notebooks.sh
Due: none

add DebugRender class
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/DebugRender.cpp
  src/esp/gfx/DebugRender.h
Due: clang-format

DebugRender example usage in viewer.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/esp/gfx/Renderer.cpp
Due: clang-format

[Sensor][Bugfix] Fix: depth info cannot be visualized correctly due to macOS GL driver bugs (#1181)
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/Renderer.cpp
Due: clang-format

add Debug3DText
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/Debug3DText.cpp
  src/esp/gfx/Debug3DText.h
Due: clang-format

example Debug3DText usage in viewer.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
