Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

Addressed some PR feedback.
  .circleci/config.yml
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Fix merge conflict
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

Preliminary edits to python functionality
  examples/settings.py
  habitat_sim/agent/agent.py
Due: none

Fine controller over update
  src/CMakeLists.txt
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Cull dynamic objects
  src/esp/gfx/RenderCamera.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
Due: clang-format

Corrected caching
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
Due: clang-format

updated tests to reflect recent API changes
  src/tests/PhysicsTest.cpp
Due: clang-format

--Support stand alone Metadata Mediator, and building Simulator from MM (#1099)
  habitat_sim/simulator.py
  src/esp/bindings/MetadataMediatorBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/SimTest.cpp
  tests/test_simulator.py
Due: clang-format

updated benchmark script to reflect recent API changes
  examples/tutorials/physics_benchmarking.py
Due: none

Fix nested if statement, fix some python tests
  examples/settings.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/physics_benchmarking.py
  examples/tutorials/semantic_id_tutorial.py
  examples/tutorials/stereo_agent.py
  habitat_sim/agent/agent.py
  habitat_sim/utils/data/data_extractor.py
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: jupytext-sync, clang-format

Fixed vhacd_enabled import. Cleaned up code.
  examples/tutorials/physics_benchmarking.py
  src/esp/assets/ResourceManager.cpp
  tests/test_physics_benchmarking.py
Due: clang-format

Add sanityCheck for SensorSpec, add errors in SensorFactory
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/SensorFactory.cpp
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

Python formatting
  examples/tutorials/colabs/replay_tutorial.ipynb
Due: jupytext-sync

Updates
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/scene/SceneNode.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Typo
  src/esp/physics/RigidObject.h
  src/esp/physics/bullet/BulletRigidObject.cpp
Due: clang-format

No cast hacking
  src/esp/bindings/SceneBindings.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
Due: clang-format

consistent API
  src/esp/physics/RigidObject.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
Due: clang-format

Add sim_utils for commonly used remove_all_objects and make_sensor_specs functions in python tests and tutorials
  examples/settings.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/physics_benchmarking.py
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/agent/agent.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/sim_utils.py
Due: jupytext-sync

Unused import
  examples/tutorials/physics_benchmarking.py
Due: none

Fix formatting of notebooks
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Undo PathFinder.cpp change
  src/esp/nav/PathFinder.cpp
Due: clang-format

Remove spurious semicolons added by autofixes
  src/esp/assets/BaseMesh.h
  src/esp/assets/GenericInstanceMeshData.h
  src/esp/assets/GenericMeshData.h
  src/esp/assets/MeshMetaData.h
  src/esp/assets/PTexMeshData.h
  src/esp/core/RigidState.h
  src/esp/geo/geo.h
  src/esp/gfx/CubeMapCamera.h
  src/esp/physics/RigidObject.h
  src/esp/scene/SceneManager.h
  src/esp/sim/Simulator.h
Due: clang-format

Fix clang config typo
  .clang-tidy
Due: none

clean up
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
  src/esp/sensor/FisheyeSensor.cpp
Due: clang-format

clean up
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
Due: clang-format

Small fix for settings that don't have key silent
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  habitat_sim/utils/sim_utils.py
Due: jupytext-sync

--Fix unnecessary copy in Simulator ctor init list.
  src/esp/sim/Simulator.cpp
Due: clang-format

Fix flake8 errors
  examples/tutorials/physics_benchmarking.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
Due: none

Update precommit hooks
  .pre-commit-config.yaml
Due: none

Fix clang-tidy yaml typo
  .clang-tidy
Due: none

Fix coordinate frames compilation issues
  src/esp/assets/Asset.cpp
  src/esp/assets/Asset.h
  src/esp/geo/CoordinateFrame.h
Due: clang-format

Second round of automated fixes
  src/esp/metadata/attributes/PrimitiveAssetAttributes.h
  src/esp/nav/PathFinder.cpp
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/bullet/BulletRigidStage.h
  src/esp/scene/SceneGraph.h
Due: clang-format

Add one more default destructor
  src/esp/gfx/RenderCamera.h
Due: clang-format

Ensure rename is reflected in doc
  src/esp/assets/ResourceManager.h
Due: clang-format

Relax initialization requirement for arrays
  .clang-tidy
Due: none

Fix formatting of yaml
  .clang-tidy
Due: none
