Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

--fix AO object instance creation
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--clean up some warnings
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletURDFImporter.h
Due: clang-format

--set initial joint pose and joint velocities
  src/esp/sim/Simulator.cpp
Due: clang-format

--reviewer suggestions
  src/esp/sim/Simulator.cpp
Due: clang-format

--add MM test to verify URDF filepaths loaded properly.
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door1.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door1.urdf
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door2.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door2.urdf
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door3.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door3.urdf
  data/test_assets/dataset_tests/dataset_1/articulated_objects/double_door_L.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/double_door_R.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/doubledoor.urdf
  data/test_assets/dataset_tests/dataset_1/test_dataset_1.scene_dataset_config.json
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

missing asset load
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

--typo
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

--clang-tidy complaint
  src/esp/physics/PhysicsManager.h
Due: clang-format

[AO] Scene instance URDF/Articulated Object instance support (#1230)
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door1.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door1.urdf
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door2.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door2.urdf
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door3.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/door3.urdf
  data/test_assets/dataset_tests/dataset_1/articulated_objects/double_door_L.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/double_door_R.glb
  data/test_assets/dataset_tests/dataset_1/articulated_objects/doubledoor.urdf
  data/test_assets/dataset_tests/dataset_1/test_dataset_1.scene_dataset_config.json
  src/esp/io/JsonStlTypes.h
  src/esp/io/URDFParser.cpp
  src/esp/io/URDFParser.h
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletURDFImporter.cpp
  src/esp/physics/bullet/BulletURDFImporter.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/MetadataMediatorTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

--change python tests and tutorials to access objects directly
  examples/tutorials/lighting_tutorial.py
  tests/test_physics.py
  tests/test_simulator.py
Due: none

--replay tutorial
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
Due: jupytext-sync

--semantic ID tutorial
  examples/tutorials/semantic_id_tutorial.py
Due: none

--physics_benchmarking
  examples/tutorials/physics_benchmarking.py
Due: none

--vhacd tutorial
  examples/tutorials/VHACD_tutorial.py
Due: none

--ECCV Advanced Features
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

--ECCV Interactivity
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

--demo-runner; missed element in replay_tutorial
  examples/demo_runner.py
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
Due: jupytext-sync

--Add deprecation warning, remove out-of-date tutorial from testing.
  src/esp/bindings/SimBindings.cpp
  tests/test_examples.py
Due: clang-format

--update docs, remove out-of-date rigid object tutorial
  docs/conf.py
  docs/pages/images/rigid-object-tutorial-images/dynamic_control.gif
  docs/pages/images/rigid-object-tutorial-images/kinematic_interactions.gif
  docs/pages/images/rigid-object-tutorial-images/kinematic_update.gif
  docs/pages/images/rigid-object-tutorial-images/local_velocity_control.gif
  docs/pages/images/rigid-object-tutorial-images/robot_control.gif
  docs/pages/images/rigid-object-tutorial-images/robot_control_no_sliding.gif
  docs/pages/images/rigid-object-tutorial-images/robot_control_sliding.gif
  docs/pages/images/rigid-object-tutorial-images/sim_basics.gif
  docs/pages/images/rigid-object-tutorial-images/velocity_control.gif
  docs/pages/index.rst
  docs/pages/rigid-object-tutorial.rst
Due: none

--reviewer suggestion - id safety
  tests/test_physics.py
Due: none

--reviewer suggestion : more specific "add object" function naming
  examples/demo_runner.py
  examples/tutorials/VHACD_tutorial.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

Update setup.py. Switch default to release
  setup.py
  src/CMakeLists.txt
Due: none

--missed one
  examples/tutorials/physics_benchmarking.py
Due: none

Add parallel submodule update
  .circleci/config.yml
Due: none

Fix CircleCI
  .circleci/config.yml
Due: none

Deprecate sim-based object access (#1246)
  docs/conf.py
  docs/pages/images/rigid-object-tutorial-images/dynamic_control.gif
  docs/pages/images/rigid-object-tutorial-images/kinematic_interactions.gif
  docs/pages/images/rigid-object-tutorial-images/kinematic_update.gif
  docs/pages/images/rigid-object-tutorial-images/local_velocity_control.gif
  docs/pages/images/rigid-object-tutorial-images/robot_control.gif
  docs/pages/images/rigid-object-tutorial-images/robot_control_no_sliding.gif
  docs/pages/images/rigid-object-tutorial-images/robot_control_sliding.gif
  docs/pages/images/rigid-object-tutorial-images/sim_basics.gif
  docs/pages/images/rigid-object-tutorial-images/velocity_control.gif
  docs/pages/index.rst
  docs/pages/rigid-object-tutorial.rst
  examples/demo_runner.py
  examples/tutorials/VHACD_tutorial.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/physics_benchmarking.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/bindings/SimBindings.cpp
  tests/test_examples.py
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

removed async rendering code
  habitat_sim/simulator.py
  src/cmake/dependencies.cmake
  src/deps/atomic_wait/atomic_wait.cpp
  src/deps/atomic_wait/atomic_wait.h
  src/esp/bindings/GfxBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Fix CUDA race
  .circleci/config.yml
Due: none

refactor to module calls instead of file calls and --data-path
  .circleci/config.yml
  README.md
  docs/pages/managed-rigid-object-tutorial.rst
  examples/colab_utils/colab_install.sh
  habitat_sim/utils/datasets_download.py
Due: none

Speed up Clang-tidy
  .circleci/config.yml
Due: none

Reorder
  .circleci/config.yml
Due: none

Update cmake
  .circleci/config.yml
Due: none

refactor to --uids to specify multiple datasources in one command
  .circleci/config.yml
  README.md
  docs/pages/managed-rigid-object-tutorial.rst
  examples/colab_utils/colab_install.sh
  examples/demo_runner.py
  habitat_sim/utils/datasets_download.py
Due: none

Try resetting cmake
  .circleci/config.yml
Due: none

Just install camke
  .circleci/config.yml
Due: none

removed fetch lighting hack
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Fix circleci
  .circleci/config.yml
Due: none

use no-install script call for CI
  .circleci/config.yml
Due: none

Add cmake back
  .circleci/config.yml
Due: none

Simplify clang-tidy install
  .circleci/config.yml
Due: none
