Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

--reviewer suggestions
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidObject.h
Due: clang-format

Drop channels again
  examples/settings.py
Due: none

Rename RGBA_sensors
  examples/settings.py
  tests/test_sensors.py
Due: none

Add channels=1 for depth and semantic only
  examples/settings.py
Due: none

--fix new bugs
  src/esp/physics/RigidBase.h
Due: clang-format

Try new CI image
  .circleci/config.yml
Due: none

--reviewer suggestions
  src/esp/bindings/bindings.cpp
  src/esp/gfx/RenderCamera.h
Due: clang-format

Try again
  .circleci/config.yml
Due: none

--class doc
  src/esp/physics/RigidStage.h
Due: clang-format

--class docs
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
Due: clang-format

Try using auto pytest cores
  .circleci/config.yml
Due: none

Fix some documentation warnings and issues (#1236)
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/bindings/bindings.cpp
  src/esp/core/managedContainers/AbstractManagedObject.h
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/gfx/RenderCamera.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
  src/esp/physics/RigidStage.h
Due: clang-format

Report test lengths
  .circleci/config.yml
Due: none

[Sensor] Fisheye and Equirectangular semantic sensors (#1221)
  examples/settings.py
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
  src/esp/gfx/CubeMapShaderBase.cpp
  src/esp/gfx/CubeMapShaderBase.h
  src/esp/gfx/DoubleSphereCameraShader.cpp
  src/esp/gfx/EquirectangularShader.cpp
  src/esp/gfx/RenderCamera.h
  src/esp/sensor/CubeMapSensorBase.cpp
  src/shaders/doubleSphereCamera.frag
  src/shaders/equirectangular.frag
  src/utils/viewer/viewer.cpp
  tests/test_sensors.py
Due: clang-format

Disable some useless 3rd party code. (#1235)
  src/cmake/dependencies.cmake
Due: none

--support object instancing in PhysicsManager
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.cpp
  src/esp/physics/RigidObject.h
  src/esp/physics/RigidStage.h
Due: clang-format

--create function that will instantiate objects from curr scene
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--clang-tidy
  src/esp/physics/PhysicsManager.cpp
Due: clang-format

Try removing typeguard
  .circleci/config.yml
Due: none

Fix circle cache keys
  .circleci/config.yml
Due: none

--reviewer suggestion
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Optimize CI. Update pre-commit
  .circleci/config.yml
  .pre-commit-config.yaml
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Remove unnecssary pre-commit arg
  .pre-commit-config.yaml
Due: none

--fix issues with stage-less scenes.
  src/esp/sim/Simulator.cpp
Due: clang-format

Fix habitat-lab flake
  .circleci/config.yml
Due: none

Avoid Torch race condition
  .circleci/config.yml
Due: none

Scene Instance : Improve Object instancing process (#1237)
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.cpp
  src/esp/physics/RigidObject.h
  src/esp/physics/RigidStage.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Whoops
  .circleci/config.yml
Due: none

[CircleCI] Optimize CI Tests (6X speed up on test suite) (#1238)
  .circleci/config.yml
  .pre-commit-config.yaml
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Refactor CircleCI to seperate out conda build
  .circleci/config.yml
Due: none

Add missing git python
  .circleci/config.yml
Due: none

Remove trailing whitespace
  .circleci/config.yml
Due: none

data saved in version_data/ directory with version appended to directory path and symlinks generated in data/
  habitat_sim/utils/datasets_download.py
Due: none

use python zipfile module for unpacking
  habitat_sim/utils/datasets_download.py
Due: none

First draft data download script
  habitat_sim/utils/datasets_download.py
Due: none

refactor to "if not dict.get(key)"
  habitat_sim/utils/datasets_download.py
Due: none

address review
  habitat_sim/utils/datasets_download.py
Due: none

Improved error handling. Optional overriding/replacement with commandline arg or user prompt.
  habitat_sim/utils/datasets_download.py
Due: none

Set args --clean and --replace to be mutually exclusive
  habitat_sim/utils/datasets_download.py
Due: none

Added some docs. Added user input for data_path directory
  habitat_sim/utils/datasets_download.py
Due: none
