Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

--thank you clang-tidy
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format

--add initial bindings
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/bindings/bindings.cpp
  src/esp/bindings/bindings.h
Due: clang-format

--Make object handle read-only
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: clang-format

--minor
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
Due: clang-format

--enable rigid object creation through wrapper manager.
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/PhysicsTest.cpp
Due: clang-format

--cleanup
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: clang-format

--clang-tidy
  src/esp/sim/Simulator.h
Due: clang-format

--some bugfixes
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
Due: jupytext-sync

--add missing method; change macro vis to public
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--update include appropriately
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--set bindings for adding objects through wrapper
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--init commit physics object wrapper manager
  src/esp/physics/CMakeLists.txt
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--change wrapper manager to receive PM ref through a setter.
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--activate physicsManager weak pointer access; address obj removal
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/tests/PhysicsTest.cpp
Due: clang-format

--RigidObject Wrapper managers initial setup.
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--minor warning fix
  src/esp/sim/Simulator.h
Due: clang-format

--create and destroy object wrappers when object is made/destroyed.
  src/esp/core/managedContainers/ManagedContainerBase.cpp
  src/esp/core/managedContainers/ManagedContainerBase.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
Due: clang-format

--missing setter; set managed object type string.
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format

--address reviewer issues and suggestions
  docs/pages/managed-rigid-object-tutorial.rst
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--fix auto-increment naming for template names that end in numbers
  src/esp/core/managedContainers/ManagedContainerBase.cpp
  src/esp/physics/PhysicsManager.cpp
Due: clang-format

--use "enable_shared_from_this" to pass PM weak ptr to wrapper mgrs
  src/esp/assets/ResourceManager.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
Due: clang-format

--class doc strings
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

-clang-tidy
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
Due: clang-format

Managed rigid objects (#1182)
  docs/conf.py
  docs/pages/images/managed-rigid-object-tutorial-images/dynamic_control.gif
  docs/pages/images/managed-rigid-object-tutorial-images/kinematic_interactions.gif
  docs/pages/images/managed-rigid-object-tutorial-images/kinematic_update.gif
  docs/pages/images/managed-rigid-object-tutorial-images/local_velocity_control.gif
  docs/pages/images/managed-rigid-object-tutorial-images/robot_control.gif
  docs/pages/images/managed-rigid-object-tutorial-images/robot_control_no_sliding.gif
  docs/pages/images/managed-rigid-object-tutorial-images/robot_control_sliding.gif
  docs/pages/images/managed-rigid-object-tutorial-images/sim_basics.gif
  docs/pages/images/managed-rigid-object-tutorial-images/velocity_control.gif
  docs/pages/index.rst
  docs/pages/managed-rigid-object-tutorial.rst
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  habitat_sim/physics.py
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/bindings/bindings.cpp
  src/esp/bindings/bindings.h
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/core/managedContainers/ManagedContainerBase.cpp
  src/esp/core/managedContainers/ManagedContainerBase.h
  src/esp/physics/CMakeLists.txt
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/PhysicsTest.cpp
  tests/test_examples.py
Due: jupytext-sync, clang-format

[Clang-Tidy] Readability Improvements
  .clang-tidy
  src/esp/agent/Agent.cpp
  src/esp/agent/Agent.h
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/bindings.cpp
  src/esp/geo/OBB.cpp
  src/esp/geo/VoxelGrid.cpp
  src/esp/gfx/Drawable.h
  src/esp/gfx/RenderCamera.h
  src/esp/gfx/replay/Player.cpp
  src/esp/io/json.cpp
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/nav/PathFinder.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/scene/ReplicaSemanticScene.cpp
  src/esp/scene/SceneGraph.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sensor/FisheyeSensor.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Minor performance and QOL tweak
  src/esp/physics/PhysicsManager.h
  tools/run-clang-tidy.py
Due: clang-format

Namespace cleanup on static
  src/esp/bindings/bindings.cpp
Due: clang-format

[Clang-Tidy] Readability Improvements (#1220)
  .clang-tidy
  src/esp/agent/Agent.cpp
  src/esp/agent/Agent.h
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/bindings.cpp
  src/esp/geo/OBB.cpp
  src/esp/geo/VoxelGrid.cpp
  src/esp/gfx/Drawable.h
  src/esp/gfx/RenderCamera.h
  src/esp/gfx/replay/Player.cpp
  src/esp/io/json.cpp
  src/esp/metadata/attributes/AttributesBase.h
  src/esp/nav/PathFinder.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/scene/ReplicaSemanticScene.cpp
  src/esp/scene/SceneGraph.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sensor/FisheyeSensor.cpp
  src/esp/sim/Simulator.h
Due: clang-format

minor
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/RenderCamera.h
  src/esp/sensor/CubeMapSensorBase.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/esp/gfx/CubeMap.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

GoPro
  src/utils/viewer/viewer.cpp
Due: clang-format

[CircleCI] make lcov less flaky and update bindings
  .circleci/config.yml
Due: none

--change python tag "ID" to template_id/object_id for managed objs
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/PhysicsObjectBindings.cpp
  tests/test_attributes_managers.py
Due: jupytext-sync, clang-format

--fix methods accessing ID to access id
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  tests/test_attributes_managers.py
Due: jupytext-sync, clang-format

--fix tests
  tests/test_physics.py
  tests/test_simulator.py
Due: none

--make arg name more specific.
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
Due: clang-format

--fix test
  examples/tutorials/physics_benchmarking.py
Due: none

[Test] Print out string_ids for parameterized tests
  tests/test_examples.py
  tests/test_greedy_follower.py
  tests/test_navmesh.py
  tests/test_physics_benchmarking.py
  tests/test_pyrobot_noisy_controls.py
  tests/test_semantic_scene.py
  tests/test_sensors.py
Due: none

Fix typo
  tests/test_sensors.py
Due: none

Revert unnecessary ids
  tests/test_greedy_follower.py
  tests/test_navmesh.py
  tests/test_pyrobot_noisy_controls.py
  tests/test_semantic_scene.py
Due: none
