Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

--More descriptive warning for obj instance creation
  src/esp/sim/Simulator.cpp
Due: clang-format

--Return stage-dependent load if SSD file is not directly found.
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/sim/Simulator.cpp
Due: clang-format

--docs bug
  docs/pages/attributesJSON.rst
Due: none

--add navmesh and semantic scene descr refs to synth scene attributes
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/sim/Simulator.cpp
Due: clang-format

-- add source value to scene instance, to represent where scene was made.
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Expand lighting handling; create LightInfo from attributes.
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/LightSetup.h
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Move pathfinder creation code back in reconfigure/scene instance code flow
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--Add bindings to set dataset config name in simulator config.
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
Due: clang-format

[sensor] Embed RenderCamera in CameraSensor (#1036)
  .gitignore
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  src/esp/bindings/SceneBindings.cpp
  src/esp/bindings/SensorBindings.cpp
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
  src/esp/scene/SceneGraph.cpp
  src/esp/scene/SceneGraph.h
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.h
  src/tests/CullingTest.cpp
  src/tests/GfxReplayTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_gfx.py
Due: jupytext-sync, clang-format

tune light setups in lighting tests; update ground-truth images
  data/test_assets/screenshots/SimTestExpectedCustomLighting.png
  data/test_assets/screenshots/SimTestExpectedCustomLighting2.png
  data/test_assets/screenshots/SimTestExpectedDefaultLighting.png
  data/test_assets/screenshots/SimTestExpectedDifferentLighting.png
  data/test_assets/screenshots/SimTestExpectedSameLighting.png
  data/test_assets/screenshots/SimTestExpectedSameLighting2.png
  data/test_assets/screenshots/SimTestExpectedSceneWithLighting.png
  src/tests/SimTest.cpp
Due: clang-format

Update readme
  README.md
Due: none

Update readme (#1069)
  README.md
Due: none

Make SensorFactory a utility class
  src/esp/agent/Agent.h
  src/esp/sensor/SensorFactory.h
  src/esp/sim/Simulator.cpp
Due: clang-format

--Remove unused element in configuration.
  data/test_assets/dataset_tests/scenes/dataset_test_scene.scene_instance.json
Due: none

Scene Import 1.0 (#1034)
  data/test_assets/dataset_tests/scenes/dataset_test_scene.scene_instance.json
  docs/pages/attributesJSON.rst
  docs/pages/index.rst
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/LightSetup.h
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/attributes/ObjectAttributes.h
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/GfxReplayTest.cpp
  src/tests/MetadataMediatorTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/SimTest.cpp
Due: clang-format

tune light setups in lighting tests; update ground-truth images (#1068)
  data/test_assets/screenshots/SimTestExpectedCustomLighting.png
  data/test_assets/screenshots/SimTestExpectedCustomLighting2.png
  data/test_assets/screenshots/SimTestExpectedDefaultLighting.png
  data/test_assets/screenshots/SimTestExpectedDifferentLighting.png
  data/test_assets/screenshots/SimTestExpectedSameLighting.png
  data/test_assets/screenshots/SimTestExpectedSameLighting2.png
  data/test_assets/screenshots/SimTestExpectedSceneWithLighting.png
  src/tests/SimTest.cpp
Due: clang-format

Added functionality to convert from MeshMetaData to VHACD compatible mesh data and get convex hulls out.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/tests/ResourceManagerTest.cpp
Due: clang-format

Addressed PR feedback; cleaned up unnecessary code, made args a parameter to be passed in rather than a global variable in physics_benchmarking.py.
  examples/tutorials/physics_benchmarking.py
  tests/test_examples.py
Due: none

Simplified arg parser.
  examples/tutorials/physics_benchmarking.py
Due: none

Changed object scale to be specified by box_drop_test parameters.
  examples/tutorials/physics_benchmarking.py
Due: none

Re-applied linters to pass pre-commit checks.
  tests/conftest.py
  tests/helpers/utils.py
Due: none

--Handle class template with multiple params in Smart Ptr Macro
  src/esp/core/esp.h
Due: clang-format

--Handle class template with multiple params in Smart Ptr Macro (#1071)
  src/esp/core/esp.h
Due: clang-format

Added code for converting VHACD output into MeshData, WIP
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/tests/ResourceManagerTest.cpp
Due: clang-format

Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Pre-commit format fix
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Added function 'convexHullDecomposition' which creates and registers a VHACD decomposition of an existing mesh.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/tests/ResourceManagerTest.cpp
Due: clang-format

--Reviewer Suggestion : change param to an enum, to be more descriptive.
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainer.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Add managed container template argument to govern object access.
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainer.h
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Reviewer suggestions.
  src/esp/core/ManagedContainer.h
Due: clang-format

--Add managed container template argument to govern object access. (#1072)
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainer.h
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--should be returning a ref, not a copy.
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/attributes/SceneAttributes.h
Due: clang-format

some flake8 updates
  .circleci/config.yml
  .pre-commit-config.yaml
  setup.cfg
Due: none

Add one more missing requirement
  .circleci/config.yml
Due: none

alphabetize list
  .circleci/config.yml
Due: none

[CircleCI] some flake8 updates (#1075)
  .circleci/config.yml
  .pre-commit-config.yaml
  setup.cfg
Due: none

--should be returning a ref, not a copy. (#1074)
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/attributes/SceneAttributes.h
Due: clang-format
