Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Fix typo
  setup.cfg
Due: none

Clarify setup.cfg comment
  setup.cfg
Due: none

Increase timeout for habitat-lab tests
  .circleci/config.yml
Due: none

Refactor habitat-lab tests to be parallel
  .circleci/config.yml
Due: none

Fix syntax error
  .circleci/config.yml
Due: none

Wait for apt-get lock to be free
  .circleci/config.yml
Due: none

Enable more flake8 extensions (#892)
  .circleci/config.yml
  .pre-commit-config.yaml
  conda-build/macos_matrix_builder.py
  examples/ab_test.py
  examples/demo_runner.py
  examples/instance_segmentation/common.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/data_structures.py
  pyproject.toml
  setup.cfg
  tests/test_attributes_managers.py
Due: jupytext-sync

Ensure requirements are installed and optimize idle time
  .circleci/config.yml
Due: none

Add global python install to 2nd path
  .circleci/config.yml
Due: none

Download test data
  .circleci/config.yml
Due: none

fix the shader
  src/shaders/pbr.frag
Due: none

Fix test coverage upload
  .circleci/config.yml
Due: none

fix the shader (#895)
  src/shaders/pbr.frag
Due: none

Update executor to pre-installed CUDA
  .circleci/config.yml
Due: none

Use pre-installed CUDA
  .circleci/config.yml
Due: none

Try not to install extra texlive
  .circleci/config.yml
Due: none

Undo install-recommends
  .circleci/config.yml
Due: none

Revert "Fix test coverage upload"
  .circleci/config.yml
Due: none

Revert "Update executor to pre-installed CUDA"
  .circleci/config.yml
Due: none

undo CUDA stuff
  .circleci/config.yml
Due: none

--MetadataMediator - Scene Instance Configurations (#885)
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

[Bugfix] Parallelize Habitat-Lab and Habitat-Sim Tests (#886)
  .circleci/config.yml
Due: none

Update colab install script
  examples/colab_utils/colab_install.sh
Due: none

Update colab install script (#896)
  examples/colab_utils/colab_install.sh
Due: none

--MetadataMediator tests and bindings.
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/CMakeLists.txt
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

--Add none stage as undeletable template.
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

minor
  src/esp/sim/Simulator.cpp
Due: clang-format

--Rename to sceneDataset; reviewer comments
  src/esp/bindings/SimBindings.cpp
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

--MetadataMediator : Tests and bindings. (#897)
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SimBindings.cpp
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
  src/tests/CMakeLists.txt
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

minor
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/LightSetup.cpp
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

Simply the Pbr Shading framework based on glTF 2.0
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

Added P2P API to Simulator. Finished viewer refactor through Simulator API.
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
Due: clang-format

pre-commit
  src/esp/io/URDFParser.h
  src/esp/io/tinyxml2/CMakeLists.txt
Due: clang-format

flake
  examples/tutorials/URDF_robotics_tutorial.py
Due: none

pre-commit
  data/test_assets/URDF/cabinet/cabinet.urdf
  data/test_assets/URDF/doors/door1.urdf
  data/test_assets/URDF/doors/door2.urdf
  data/test_assets/URDF/doors/door3.urdf
  data/test_assets/URDF/doors/doubledoor.urdf
  data/test_assets/URDF/fridge/fridge.urdf
  data/test_assets/URDF/kitchen_counter/kitchen_counter.urdf
Due: none

Futureproof PIL/CFFI versions for colab install.
  examples/colab_utils/colab_install.sh
Due: none

precommit fix
  examples/colab_utils/colab_install.sh
Due: none

clang-tidy
  src/esp/assets/ResourceManager.cpp
  src/esp/io/URDFParser.cpp
  src/esp/physics/URDFImporter.cpp
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/physics/bullet/BulletURDFImporter.cpp
  src/esp/physics/bullet/BulletURDFImporter.h
  src/esp/sim/Simulator.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
