Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

--Remove refs to outdated SceneConfiguration
  src/esp/bindings/SceneBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/scene/CMakeLists.txt
  src/esp/scene/SceneConfiguration.cpp
  src/esp/scene/SceneConfiguration.h
  src/esp/scene/test/GibsonSceneTest.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
  src/tests/SimTest.cpp
Due: clang-format

--Fix SimulatorConfiguration == op overload to compare entire struct.
  src/esp/sim/SimulatorConfiguration.cpp
Due: clang-format

--Remove refs/refactor SceneConfiguration in c++ tests
  src/esp/assets/ResourceManager.cpp
  src/esp/scene/test/GibsonSceneTest.cpp
  src/esp/scene/test/ReplicaSceneTest.cpp
  src/esp/sim/SimulatorConfiguration.cpp
  src/tests/SimTest.cpp
Due: clang-format

--change stage to one with no navmesh in test.
  tests/test_simulator.py
Due: none

--Temporarily Update configuration to test against hab-lab PR 516
  .circleci/config.yml
Due: none

--update python docs to have appropriate sim config scene_id access
  docs/pages/image-extractor.rst
Due: none

--Refactor scene id/remove sceneConfiguration in javascript
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/web_demo.js
Due: clang-format

Enables more clang-tidy fixes and fixes more warning (#916)
  .clang-tidy
  src/esp/bindings/GeoBindings.cpp
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/DrawableGroup.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/scene/Mp3dSemanticScene.cpp
  src/esp/scene/SuncgSemanticScene.cpp
Due: clang-format

Fix typo, addeed raycast test for VISUALIZATION_ONLY MotionType.
  src/esp/bindings/PhysicsBindings.cpp
  tests/test_physics.py
Due: clang-format

--Temporary Update configuration to test against hab-lab PR516 Take 2
  .circleci/config.yml
Due: none

Add is_visible and is_collidable to object_config.json options and related docs/tests
  docs/pages/attributesJSON.rst
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

Revert "--Temporary Update configuration to test against hab-lab PR516 Take 2"
  .circleci/config.yml
Due: none

--[WIP]Remove SceneConfiguration.cpp (#906)
  .circleci/config.yml
  docs/pages/image-extractor.rst
  examples/settings.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/new_actions.py
  examples/tutorials/semantic_id_tutorial.py
  examples/tutorials/stereo_agent.py
  habitat_sim/scene.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/data_extractor.py
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/SceneBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/web_demo.js
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/esp/scene/CMakeLists.txt
  src/esp/scene/SceneConfiguration.cpp
  src/esp/scene/SceneConfiguration.h
  src/esp/scene/test/GibsonSceneTest.cpp
  src/esp/scene/test/ReplicaSceneTest.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.cpp
  src/esp/sim/SimulatorConfiguration.h
  src/tests/SimTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_simulator.py
Due: jupytext-sync, clang-format

sync internal field names with config tag names
  src/esp/metadata/attributes/ObjectAttributes.h
Due: clang-format

[CIRCLECI] Improve PYTEST output Habitat-Sim
  .circleci/config.yml
Due: none

[CIRCLECI] Improve PYTEST output Habitat-Sim (#919)
  .circleci/config.yml
Due: none

Add support for ndarray to set_state
  habitat_sim/agent/agent.py
Due: none

Enable mypy on tests
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/registry.py
  mypy.ini
  tests/test_greedy_follower.py
  tests/test_pyrobot_noisy_controls.py
Due: none

QOL change to mypy
  mypy.ini
Due: none

Add make_video_frame
  habitat_sim/utils/viz_utils.py
Due: none

Add support for ndarray to set_state (#924)
  habitat_sim/agent/agent.py
Due: none

Re_enable attrs
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
Due: none

Typo fix
  mypy.ini
Due: none

Fix another mypy typo
  mypy.ini
Due: none

--Initial Commit
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainer.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

One more mypy.ini typo fix
  mypy.ini
Due: none

Correct truncation typing
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
Due: none

remove cast
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
Due: none

--clang-tidy complaints
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

--clang-format
  src/esp/metadata/managers/ObjectAttributesManager.cpp
Due: clang-format

--Missed a clang tidy
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
Due: clang-format

--Enable override of default Attributes Registration checks (#928)
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/core/ManagedContainer.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.h
  src/esp/metadata/managers/PhysicsAttributesManager.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
Due: clang-format

--Update Attributes creation messages to be clearer.
  src/esp/core/ManagedContainerBase.cpp
  src/esp/metadata/managers/AttributesManagerBase.h
Due: clang-format

--Reviewer suggestions
  src/esp/metadata/managers/AttributesManagerBase.h
Due: clang-format

Add make_video_frame (#927)
  habitat_sim/utils/viz_utils.py
Due: none

Undo typing error
  habitat_sim/registry.py
Due: none

Further update dict typing
  habitat_sim/registry.py
Due: none

Remove unused import
  habitat_sim/registry.py
Due: none

Add slots=True to noise_models
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/sensors/noise_models/gaussian_noise_model.py
  habitat_sim/sensors/noise_models/no_noise_model.py
  habitat_sim/sensors/noise_models/poisson_noise_model.py
  habitat_sim/sensors/noise_models/salt_and_pepper_noise_model.py
  habitat_sim/sensors/noise_models/speckle_noise_model.py
Due: none

--Update Attributes creation messages to be clearer. (#923)
  src/esp/core/ManagedContainerBase.cpp
  src/esp/metadata/managers/AttributesManagerBase.h
Due: clang-format
