Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Dynamic culling (#1095)
  src/esp/bindings/SceneBindings.cpp
  src/esp/gfx/RenderCamera.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
Due: clang-format

Mesh is passed into VHACD. Need to convert resulting voxelization into VoxelGrid
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Fixed Typo
  examples/tutorials/VHACD_tutorial.py
Due: none

Add no bg thread constructor
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
Due: clang-format

Fix semantic
  habitat_sim/simulator.py
Due: none

Added debug view toggle with '=' and fixed mouse grabber bug.
  src/utils/viewer/viewer.cpp
Due: clang-format

VHACD (Convex Hull Decomposition) Integration (#1055)
  .circleci/config.yml
  .gitmodules
  conda-build/habitat-sim/build.sh
  examples/tutorials/VHACD_tutorial.py
  examples/tutorials/physics_benchmarking.py
  habitat_sim/__init__.py
  habitat_sim/bindings/__init__.py
  setup.py
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  src/esp/assets/CMakeLists.txt
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SimBindings.cpp
  src/esp/bindings/bindings.cpp
  src/esp/core/CMakeLists.txt
  src/esp/core/configure.h.cmake
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/ResourceManagerTest.cpp
  tests/test_physics_benchmarking.py
Due: clang-format

Performance fixes
  src/esp/io/URDFParser.h
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
Due: clang-format

Atomic wait so we don't have to spin
  src/cmake/dependencies.cmake
  src/deps/atomic_wait/atomic_wait.cpp
  src/deps/atomic_wait/atomic_wait.h
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/Renderer.cpp
Due: clang-format

prelim
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
Due: clang-format

Visualize Voxel field with Ctrl + Right Click in viewer. Needs to be fixed for correct alignment with rigid body.
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/utils/viewer/viewer.cpp
Due: clang-format

debug
  src/esp/gfx/CubeMap.h
  src/esp/sensor/VisualSensor.h
Due: clang-format

minor
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
Due: clang-format

typo fixes in error messages
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

pre-commit
  habitat_sim/bindings/__init__.py
Due: none

address reviewer's concerns
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/RenderTarget.h
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
Due: clang-format

Updated vhacd submodule
  .gitmodules
Due: none

Fixes from feedback
  habitat_sim/utils/sim_utils.py
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/VisualSensor.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Remove else, keep ValueErrors
  habitat_sim/utils/sim_utils.py
Due: none

Change default resolution to 128, 128; add checks using set in JS
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/simenv_embind.js
  src/esp/bindings_js/modules/web_demo.js
  src/esp/sensor/VisualSensor.h
Due: clang-format

Format
  src/esp/bindings_js/bindings_js.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

[AO Prototype] Background rendering thread (#1106)
  habitat_sim/simulator.py
  src/cmake/dependencies.cmake
  src/deps/atomic_wait/atomic_wait.cpp
  src/deps/atomic_wait/atomic_wait.h
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
  src/esp/gfx/WindowlessContext.cpp
  src/esp/gfx/WindowlessContext.h
  src/esp/sim/Simulator.cpp
Due: clang-format

bugfix: multibody will report sleeping while still reacting to contact with objects, use collider active state for node transform updates instead.
  src/esp/physics/bullet/BulletArticulatedObject.cpp
Due: clang-format

fix typo
  src/esp/physics/bullet/BulletArticulatedObject.cpp
Due: clang-format

minor
  src/esp/gfx/Renderer.cpp
Due: clang-format

Dynamically update PythonVersion for Colab Install
  examples/colab_utils/colab_install.sh
Due: none

[sensor] CubeMap (#1011)
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
Due: clang-format

[Potential Speedup] Set render buffer properly based on sensor type (#1104)
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/RenderTarget.h
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
Due: clang-format

Fixed Voxel Field visualization alignment issue; created wrapper; adjusted VHACD to work with lower resolutions for small objects
  src/esp/geo/CMakeLists.txt
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/geo/VoxelWrapper.cpp
  src/esp/geo/VoxelWrapper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Remove sim_utils, initialize sensor specs directly
  examples/settings.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/physics_benchmarking.py
  examples/tutorials/semantic_id_tutorial.py
  examples/tutorials/stereo_agent.py
  habitat_sim/sensor.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/sim_utils.py
  tests/test_sensors.py
Due: jupytext-sync

Add error checking in agent.py for sensor initialization
  habitat_sim/agent/agent.py
Due: none

Small typo
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Dynamically update PythonVersion for Colab Install (#1110)
  examples/colab_utils/colab_install.sh
Due: none

List issue
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
