Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

--complete managed rigid obj tutorial.
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
Due: jupytext-sync

--modify create to not use any name fields.
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--minor
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: clang-format

--reviewer suggestions; isAlive function showing weak ref validity
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: jupytext-sync, clang-format

--return ref to object wrapper instead of id.
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--remove refs to object in constructor, add a setter instead.
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--change object storage to shared pointer so they can be accessed from wrappers.
  src/esp/assets/ResourceManager.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
Due: clang-format

--add doc images
  docs/pages/images/managed-rigid-object-tutorial-images/dynamic_control.gif
  docs/pages/images/managed-rigid-object-tutorial-images/kinematic_interactions.gif
  docs/pages/images/managed-rigid-object-tutorial-images/kinematic_update.gif
  docs/pages/images/managed-rigid-object-tutorial-images/local_velocity_control.gif
  docs/pages/images/managed-rigid-object-tutorial-images/robot_control.gif
  docs/pages/images/managed-rigid-object-tutorial-images/robot_control_no_sliding.gif
  docs/pages/images/managed-rigid-object-tutorial-images/robot_control_sliding.gif
  docs/pages/images/managed-rigid-object-tutorial-images/sim_basics.gif
  docs/pages/images/managed-rigid-object-tutorial-images/velocity_control.gif
  docs/pages/managed-rigid-object-tutorial.rst
Due: none

--object name support
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: clang-format

--address improve managed delete to not rely on object for ID.
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/core/managedContainers/ManagedContainer.h
Due: jupytext-sync, clang-format

--Thanks again clang-tidy!
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--expand python tutorial
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
Due: jupytext-sync

--enable test
  tests/test_examples.py
Due: none

--pre-commit issue; link error in bindings;
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
Due: clang-format

--reviewer suggestion - simplify vector property assignment
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
Due: jupytext-sync

--manager removes objects while keeping scene or visual nodes.
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: jupytext-sync, clang-format

--small changes
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--address doc issues - remove @anchor
  src/esp/physics/PhysicsManager.h
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--wrapper create
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: clang-format

--initial managed rigid object tutorial
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/objectManagers/RigidObjectManager.h
  src/esp/sim/Simulator.h
Due: jupytext-sync, clang-format

--complete docs
  docs/conf.py
  docs/pages/index.rst
  docs/pages/managed-rigid-object-tutorial.rst
  habitat_sim/physics.py
  src/esp/bindings/PhysicsObjectBindings.cpp
Due: clang-format

--init commit;
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--fix ctors
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--Add wrappers for RigidBase and RigidObject;
  src/esp/physics/CMakeLists.txt
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
Due: clang-format

--typo
  src/esp/physics/PhysicsManager.h
Due: clang-format

--comment update
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format

--fix rebase errors
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
Due: clang-format

--fix issues with string literals in binding descriptions.
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format

--add missing cpp ref in cmakelists
  src/esp/physics/CMakeLists.txt
Due: none

--more docs
  docs/pages/managed-rigid-object-tutorial.rst
Due: none

--minor update to info messages.
  src/esp/bindings/PhysicsObjectBindings.cpp
Due: clang-format

--expand functionality
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: jupytext-sync, clang-format

--make sure to not try to double-delete wrappers
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  src/esp/physics/PhysicsManager.cpp
Due: jupytext-sync, clang-format

--add bindings basic functionality
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
Due: clang-format

--initial manager bindings
  src/esp/bindings/CMakeLists.txt
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/bindings/bindings.cpp
  src/esp/bindings/bindings.h
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
Due: clang-format

--fix typo in bindings
  src/esp/bindings/PhysicsObjectBindings.cpp
Due: clang-format

--more bindings
  src/esp/bindings/PhysicsObjectBindings.cpp
Due: clang-format

--initial doc commit
  docs/pages/managed-rigid-object-tutorial.rst
Due: none

--More clang-tidy
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  src/esp/physics/objectManagers/PhysicsObjectBaseManager.h
  src/esp/physics/objectManagers/RigidBaseManager.h
  src/esp/physics/objectManagers/RigidObjectManager.h
Due: clang-format

--add user attributes bindings
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format
