Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

Further revert cleanup
  tests/test_sensors.py
Due: none

[CircleCI] make lcov less flaky and update bindings (#1222)
  .circleci/config.yml
Due: none

[PyTest] Print out string_ids for parameterized tests (#1224)
  tests/test_examples.py
  tests/test_physics_benchmarking.py
  tests/test_pyrobot_noisy_controls.py
  tests/test_sensors.py
Due: none

Rename object and attributes template field "ID" to "object_id"/"template_id" (#1223)
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/physics_benchmarking.py
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/bindings/PhysicsWrapperManagerBindings.cpp
  tests/test_attributes_managers.py
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

Upgrade exotic sensor tests
  examples/settings.py
  tests/test_sensors.py
Due: none

Fix semantic bug
  examples/settings.py
  tests/test_sensors.py
Due: none

Remove redundant assert
  tests/test_sensors.py
Due: none

--Promote kinematic properties to base physics object
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidBase.h
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format

--Promote kinematic properties to base physics object (#1227)
  src/esp/bindings/PhysicsObjectBindings.cpp
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidBase.h
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
Due: clang-format

clean-up and document ResourceManager changes for master merge
  src/esp/assets/Asset.cpp
  src/esp/assets/Asset.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

revert changes to fridge.urdf. Refactors supporting master merge.
  data/test_assets/URDF/fridge/fridge.urdf
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
Due: clang-format

ResourceManager changes to support URDF asset loading with custom Phong materials.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SceneBindings.cpp
Due: clang-format

missed doc change
  src/esp/assets/ResourceManager.h
Due: clang-format

Add tinyxml2 to dependencies linked to IO (#1137)
  src/cmake/dependencies.cmake
  src/deps/tinyxml2/CMakeLists.txt
  src/deps/tinyxml2/tinyxml2.cpp
  src/deps/tinyxml2/tinyxml2.h
  src/esp/io/CMakeLists.txt
Due: none

remove commented code
  src/CMakeLists.txt
Due: none

Changes from AO branch supporting async rendering
  habitat_sim/simulator.py
  src/cmake/dependencies.cmake
  src/deps/atomic_wait/atomic_wait.cpp
  src/deps/atomic_wait/atomic_wait.h
  src/esp/bindings/GfxBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
  src/esp/gfx/WindowlessContext.cpp
  src/esp/gfx/WindowlessContext.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

move updateNodes and deferUpdate to PhysicsObjectBase from RigidObject
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidObject.h
Due: clang-format

Update src/utils/viewer/viewer.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  examples/settings.py
  src/esp/sensor/CubeMapSensorBase.cpp
Due: clang-format

Update to latest Magnum with various APIs renamed.
  src/esp/assets/GenericInstanceMeshData.cpp
  src/esp/assets/ResourceManager.cpp
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/geo/VoxelUtils.cpp
  src/esp/geo/geo.cpp
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
  src/esp/gfx/CubeMapShaderBase.h
  src/esp/gfx/DoubleSphereCameraShader.h
  src/esp/gfx/EquirectangularShader.h
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/GenericDrawable.h
  src/esp/gfx/MeshVisualizerDrawable.cpp
  src/esp/gfx/MeshVisualizerDrawable.h
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/TextureVisualizerShader.h
  src/esp/gfx/test/DepthUnprojectionTest.cpp
  src/tests/DrawableTest.cpp
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/ObjectPickingHelper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Add ortho sensor_spec gen function
  examples/settings.py
Due: none

Fix settings
  examples/settings.py
Due: none

Revert bug
  examples/settings.py
Due: none

Remove all references to channels for now
  examples/settings.py
Due: none

Fix comments
  examples/settings.py
Due: none

Update src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Further simplify
  examples/settings.py
Due: none

clean-up refactor
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Readabiltiy else-after-return
  .clang-tidy
  src/esp/agent/Agent.cpp
  src/esp/assets/PTexMeshData.cpp
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/core/managedContainers/ManagedFileBasedContainer.h
  src/esp/gfx/LightSetup.cpp
  src/esp/gfx/replay/Player.cpp
  src/esp/io/JsonMagnumTypes.h
  src/esp/io/JsonStlTypes.h
  src/esp/io/io.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/physics/objectManagers/RigidObjectManager.cpp
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/esp/physics/objectWrappers/ManagedRigidBase.h
  src/esp/physics/objectWrappers/ManagedRigidObject.h
  src/esp/scene/GibsonSemanticScene.h
  src/esp/scene/Mp3dSemanticScene.cpp
  src/esp/scene/ReplicaSemanticScene.h
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SemanticScene.h
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

Update to latest Magnum with various APIs renamed. (#1231)
  src/esp/assets/GenericInstanceMeshData.cpp
  src/esp/assets/ResourceManager.cpp
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/geo/VoxelUtils.cpp
  src/esp/geo/geo.cpp
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
  src/esp/gfx/CubeMapShaderBase.h
  src/esp/gfx/DoubleSphereCameraShader.h
  src/esp/gfx/EquirectangularShader.h
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/GenericDrawable.h
  src/esp/gfx/MeshVisualizerDrawable.cpp
  src/esp/gfx/MeshVisualizerDrawable.h
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/TextureVisualizerShader.h
  src/esp/gfx/test/DepthUnprojectionTest.cpp
  src/tests/DrawableTest.cpp
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/ObjectPickingHelper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Don't enable pedantic warnings for 3rd party dependencies.
  src/deps/tinyxml2/CMakeLists.txt
Due: none

Disable some useless 3rd party code.
  src/cmake/dependencies.cmake
Due: none

Don't enable pedantic warnings for 3rd party dependencies. (#1233)
  src/deps/tinyxml2/CMakeLists.txt
Due: none

--Reorganize binding calls to improve doc build
  src/esp/bindings/bindings.cpp
Due: clang-format

--qualify doc refs properly
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
Due: clang-format

Add channels backend
  examples/settings.py
Due: none

--add some docstrings, attempt to address some warnings.
  src/esp/core/managedContainers/AbstractManagedObject.h
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/gfx/RenderCamera.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
Due: clang-format

--set appropriate radian casting in bindings
  src/esp/bindings/PhysicsObjectBindings.cpp
Due: clang-format
