Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Revert "modify syncPose to be public and bi-directional. Manually sync pose from physics simulation to render after Bullet physics step."
  src/esp/physics/RigidBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
Due: clang-format

Add single simulation step key '.' to Viewer.
  src/utils/viewer/viewer.cpp
Due: clang-format

manually update motionstate for dynamic objects after step
  src/esp/physics/RigidBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
Due: clang-format

[Bug fix] change half, which is a reserved word in certain GPU driver implementation, to halfVector
  src/shaders/pbr.frag
Due: none

minor
  src/shaders/pbr.frag
Due: none

add count column to compare_profiles
  habitat_sim/utils/compare_profiles.py
  tests/test_compare_profiles.py
Due: none

[Bug fix] change half, a reserved word in certain GPU driver to halfVector (#889)
  src/shaders/pbr.frag
Due: none

Some updates to conda-build stuff (#884)
  conda-build/README.md
  conda-build/habitat-sim/meta.yaml
  conda-build/macos_matrix_builder.py
Due: none

add count column to compare_profiles (#890)
  habitat_sim/utils/compare_profiles.py
  tests/test_compare_profiles.py
Due: none

--Initial Commit of lightLayoutAttributes and Manager
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
Due: clang-format

--clang-tidy complaint
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Fix improper variable format(capitalization)
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
Due: clang-format

--Add Building, SceneDataset, RM and MM access
  src/esp/assets/ResourceManager.h
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
Due: clang-format

--Reviewer comments
  src/esp/core/Configuration.h
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
Due: clang-format

--Add Tests and Bindings for LightAttributes
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Add support for Magnum::Rad angles (reviewer comments).
  src/esp/core/Configuration.h
  src/esp/io/json.h
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--reviewer comments
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
Due: clang-format

--Reviewer comments
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneDatasetAttributes.h
Due: clang-format

Attempt to fix setup.py timeout and install
  .circleci/config.yml
Due: none

Add flake8-builtins and flake8-simplify
  .circleci/config.yml
  .pre-commit-config.yaml
  conda-build/macos_matrix_builder.py
  examples/ab_test.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/simulator.py
  setup.cfg
  tests/test_attributes_managers.py
Due: jupytext-sync

Add ignore for False Positive
  .pre-commit-config.yaml
  habitat_sim/utils/data/data_structures.py
Due: none

Fix error without ignore
  habitat_sim/utils/data/data_structures.py
Due: none

clean setup.cfg
  setup.cfg
Due: none

Enable flake8-return
  .circleci/config.yml
  .pre-commit-config.yaml
  setup.cfg
Due: none

Update with flake8
  .pre-commit-config.yaml
  examples/demo_runner.py
  examples/instance_segmentation/common.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  setup.cfg
Due: jupytext-sync

Add more setup.cfg comments
  setup.cfg
Due: none

Update isort defaults
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add ignore for builtin named class attrs
  setup.cfg
Due: none

added some docstrings for object adding functions.
  src/utils/viewer/viewer.cpp
Due: clang-format

Viewer features and physics bugfix (#887)
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

--MetadataMediator - Lighting Layout Configurations (#883)
  src/esp/assets/ResourceManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/core/Configuration.h
  src/esp/io/json.h
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Initial Commit of scene attributes
  src/esp/metadata/CMakeLists.txt
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
Due: clang-format

--Add Tests, SceneDatasetAttributes support
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--Expand comment clarity
  src/esp/metadata/MetadataMediator.h
Due: clang-format

--Reviewer suggestion
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

Make habitat-lab tests use habitat-sim
  .circleci/config.yml
Due: none

make cuda_installed absolute
  .circleci/config.yml
Due: none

Update setup.cfg
  setup.cfg
Due: none

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
