Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Make imageio pip installed
  .circleci/config.yml
Due: none

Default control names made interpretable. Test Added.
  habitat_sim/agent/controls/default_controls.py
  tests/test_controls.py
Due: none

Compute/query navigable area in Pathfinder (#670)
  src/esp/bindings/ShortestPathBindings.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/nav/PathFinder.h
  tests/test_navmesh.py
Due: clang-format

Fix isort linter
  .pre-commit-config.yaml
  examples/demo_runner.py
  examples/instance_segmentation/common.py
  examples/settings.py
  examples/tutorials/rigid_object_tutorial.py
  tests/conftest.py
  tests/test_controls.py
  tests/test_data_extraction.py
  tests/test_examples.py
  tests/test_greedy_follower.py
  tests/test_physics.py
  tests/test_pyrobot_noisy_controls.py
  tests/test_recompute_navmesh.py
  tests/test_semantic_scene.py
  tests/test_sensors.py
  tests/test_simulator.py
  tests/test_snap_point.py
Due: none

Should satisfy Black now
  habitat_sim/agent/controls/default_controls.py
  tests/test_controls.py
Due: none

Another small format change for satisfying black.
  habitat_sim/agent/controls/default_controls.py
Due: none

isort missing files
  habitat_sim/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/errors.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/__init__.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
Due: none

isort setup.py
  setup.py
Due: none

Added togle_navmesh_visualization call to python tests
  tests/test_navmesh.py
Due: none

Added preliminary demo tutorial for this feature
  examples/tutorials/navmesh_tutorial.py
Due: none

update seed_isort_config as well
  .pre-commit-config.yaml
Due: none

Fixes isort linter so it agrees with .circleci (#682)
  .pre-commit-config.yaml
  examples/demo_runner.py
  examples/instance_segmentation/common.py
  examples/settings.py
  examples/tutorials/rigid_object_tutorial.py
  habitat_sim/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/agent/controls/controls.py
  habitat_sim/agent/controls/object_controls.py
  habitat_sim/agent/controls/pyrobot_noisy_controls.py
  habitat_sim/errors.py
  habitat_sim/sensors/noise_models/redwood_depth_noise_model.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/__init__.py
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  setup.py
  tests/conftest.py
  tests/test_controls.py
  tests/test_data_extraction.py
  tests/test_examples.py
  tests/test_greedy_follower.py
  tests/test_navmesh.py
  tests/test_physics.py
  tests/test_pyrobot_noisy_controls.py
  tests/test_semantic_scene.py
  tests/test_sensors.py
  tests/test_simulator.py
  tests/test_snap_point.py
Due: none

isort
  examples/tutorials/navmesh_tutorial.py
Due: none

make linter happy
  habitat_sim/utils/viz_utils.py
Due: none

adress reviewer comments
  src/esp/sim/Simulator.cpp
Due: clang-format

fix display utility
  habitat_sim/utils/viz_utils.py
Due: none

Added Docker variable and fixed paths
  .circleci/config.yml
  conda-build/Dockerfile
Due: none

Fix a bug in the pathfinder and fix naming
  docs/pages/image-extractor.rst
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  src/esp/bindings/ShortestPathBindings.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/nav/PathFinder.h
  tests/test_data_extraction.py
Due: clang-format

Redid testing code so it counts towards coverage
  tests/test_examples.py
Due: none

Cleaned up old scripts, refactored tests, and improved Colab installation script
  .pre-commit-config.yaml
  examples/colab_utils/colab_install.sh
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/notebook2script.sh
  examples/tutorials/script2notebook.sh
  tests/test_examples.py
  tools/sync_notebooks.sh
Due: jupytext-sync

Added NIGHTLY option to collab install
  examples/colab_utils/colab_install.sh
Due: none

Fix install bug
  examples/colab_utils/colab_install.sh
Due: none

Update tutorial utilities
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/rigid_object_tutorial.py
  habitat_sim/utils/viz_utils.py
Due: jupytext-sync

remove unnecessary import
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

fixed Docker ARG issue
  .circleci/config.yml
  conda-build/Dockerfile
Due: none

Added env creation to running command
  .circleci/config.yml
  conda-build/Dockerfile
Due: none

Fix a bug in the pathfinder and fix naming (#684)
  docs/pages/image-extractor.rst
  habitat_sim/utils/data/data_extractor.py
  habitat_sim/utils/data/pose_extractor.py
  src/esp/bindings/ShortestPathBindings.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/nav/PathFinder.h
  tests/test_data_extraction.py
Due: clang-format

Made conda env work for Docker setup, added X server build support
  .circleci/config.yml
  conda-build/Dockerfile
  conda-build/linux_matrix_builder.py
Due: none

Return back all testing jobs
  .circleci/config.yml
Due: none

Fixed path
  .circleci/config.yml
Due: none

Fix commands
  conda-build/Dockerfile
Due: none

quote args in shell script
  tools/sync_notebooks.sh
Due: none

Google Colab Tutorial Infrastructure (#677)
  .circleci/config.yml
  .pre-commit-config.yaml
  docs/pages/rigid-object-tutorial.rst
  examples/colab_utils/colab_install.sh
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  examples/tutorials/stereo_agent.py
  habitat_sim/utils/viz_utils.py
  pyproject.toml
  tests/test_examples.py
  tools/sync_notebooks.sh
Due: jupytext-sync

Update README.md
  README.md
Due: none

hot fix viz_utils in colab
  .pre-commit-config.yaml
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/rigid_object_tutorial.py
  habitat_sim/utils/viz_utils.py
Due: jupytext-sync

Further improve ffmpeg setup in viz_utils
  habitat_sim/utils/viz_utils.py
Due: none

--Update requirements;
  requirements.txt
Due: none

guard gpu accel video encoding from local notebooks
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

--Fix python version requirement.
  .pre-commit-config.yaml
Due: none

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
