Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

Fix comment
  src/CMakeLists.txt
Due: none

Parallelize build further
  .circleci/config.yml
Due: none

Move clang-tidy install back
  .circleci/config.yml
Due: none

Only do LTO for Release
  src/CMakeLists.txt
Due: none

Is it a cache issue
  .circleci/config.yml
Due: none

Revert .circleci
  .circleci/config.yml
Due: none

Remove stray arg
  src/CMakeLists.txt
Due: none

speed up ci
  .circleci/config.yml
Due: none

Fix CI
  .circleci/config.yml
Due: none

Restore cache
  .circleci/config.yml
Due: none

Show CCache Stats
  .circleci/config.yml
Due: none

Install missing requirements
  .circleci/config.yml
Due: none

missed references to objects
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

--Don't load both test datasets for every test
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

--speed up tests by making per dataset instead of per function
  data/test_assets/dataset_tests/dataset_1/test_dataset_1.scene_dataset_config.json
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

--change pragma once -> file-name based header guard
  src/esp/io/URDFParser.h
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/CollisionGroupHelper.h
  src/esp/physics/URDFImporter.h
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletDebugManager.h
  src/esp/physics/bullet/BulletURDFImporter.h
Due: clang-format

Improve Metadata Mediator Testing (#1243)
  data/test_assets/dataset_tests/dataset_1/test_dataset_1.scene_dataset_config.json
  src/tests/MetadataMediatorTest.cpp
Due: clang-format

refactor mp3d_test to mp3d_example
  README.md
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  habitat_sim/utils/datasets_download.py
  tests/test_greedy_follower.py
  tests/test_navmesh.py
  tests/test_semantic_scene.py
  tests/test_sensors.py
Due: jupytext-sync

refactor to allow python module use and replace similar code in example.py
  examples/demo_runner.py
  habitat_sim/utils/datasets_download.py
Due: none

refactor asset import to cache unique asset name for material modified assets.
  src/esp/assets/Asset.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletURDFImporter.cpp
Due: clang-format

missed ref to objects
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

refactor to better match existing pipelines and cache unique LoadedAssetInfos for material modified assets.
  src/esp/assets/Asset.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

minor
  src/esp/physics/PhysicsManager.h
Due: clang-format

--change pragma once -> file-name based header guard (#1244)
  src/esp/io/URDFParser.h
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/CollisionGroupHelper.h
  src/esp/physics/URDFImporter.h
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletDebugManager.h
  src/esp/physics/bullet/BulletURDFImporter.h
Due: clang-format

--small bug
  src/esp/metadata/attributes/SceneDatasetAttributes.h
Due: clang-format

--Fix viewer enum bugs
  src/utils/viewer/viewer.cpp
Due: clang-format

--build tempoary map of ao file locations in SceneDatasetAttributes
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
Due: clang-format

--Add AO instance child class of SceneObjectInstance
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.h
Due: clang-format

--handle new instance values for stage and objects
  src/esp/sim/Simulator.cpp
Due: clang-format

--load q and qdot
  src/esp/io/JsonStlTypes.h
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

--add temp map of handles
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
Due: clang-format

--Add instancing AO in reconfigure from scene AO instances
  src/esp/sim/Simulator.cpp
Due: clang-format

--Fix rebase error
  src/esp/physics/PhysicsObjectBase.h
Due: clang-format

--clang-tidy complaints
  src/esp/io/URDFParser.h
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/bullet/BulletURDFImporter.cpp
Due: clang-format

--clang-tidy
  src/esp/io/URDFParser.cpp
  src/esp/io/URDFParser.h
Due: clang-format

--add attributesManagerTests to test for urdf instances
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--initial scene instance urdf support
  src/esp/metadata/attributes/SceneAttributes.cpp
  src/esp/metadata/attributes/SceneAttributes.h
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

--minor
  src/esp/physics/PhysicsObjectBase.h
  src/esp/sim/Simulator.cpp
Due: clang-format

--typo
  src/esp/sim/Simulator.cpp
Due: clang-format

--typo
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
