Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

Fix test_gfx.py
  examples/settings.py
Due: none

Minor cpp cleanup
  src/esp/agent/Agent.h
  src/esp/sensor/SensorFactory.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

add ESP_CHECK and one example usage
  src/esp/bindings/bindings.cpp
  src/esp/core/CMakeLists.txt
  src/esp/core/Check.cpp
  src/esp/core/Check.h
  src/esp/gfx/LightSetup.cpp
Due: clang-format

Update README.md
  README.md
Due: none

fix for Simulator::reconfigureReplayManager; added GfxReplayTest.simulatorIntegration unit test
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/CMakeLists.txt
  src/tests/GfxReplayTest.cpp
Due: clang-format

Formatting
  README.md
Due: none

Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Update questions-help-support.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
Due: none

First draft
  src/esp/agent/Agent.h
  src/esp/scene/SceneNode.h
  src/esp/sensor/Sensor.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Fix log error message
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/SensorFactory.cpp
Due: clang-format

fix for Simulator::reconfigureReplayManager; added GfxReplayTest.simulatorIntegration unit test (#1113)
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/CMakeLists.txt
  src/tests/GfxReplayTest.cpp
Due: clang-format

add ESP_CHECK and one example usage (#1111)
  src/esp/bindings/bindings.cpp
  src/esp/core/CMakeLists.txt
  src/esp/core/Check.cpp
  src/esp/core/Check.h
  src/esp/gfx/LightSetup.cpp
Due: clang-format

--Const specifier added to functions that do not change internal state.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

[Sensor] Hierarchical Sensor spec (#1090)
  examples/settings.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/physics_benchmarking.py
  examples/tutorials/semantic_id_tutorial.py
  examples/tutorials/stereo_agent.py
  habitat_sim/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/bindings/__init__.py
  habitat_sim/sensor.py
  habitat_sim/utils/data/data_extractor.py
  src/esp/agent/Agent.h
  src/esp/bindings/SensorBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/simenv_embind.js
  src/esp/bindings_js/modules/web_demo.js
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/SensorFactory.cpp
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/SensorTest.cpp
  src/tests/SimTest.cpp
  src/utils/viewer/viewer.cpp
Due: jupytext-sync, clang-format

Add pointer to sensor in scene node
  src/esp/scene/SceneNode.h
  src/esp/sensor/SensorFactory.cpp
Due: clang-format

--reviewer suggestions, more const candidates.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

--reviewer suggestion
  src/esp/assets/ResourceManager.h
Due: clang-format

Fix silly leak
  habitat_sim/simulator.py
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--[Bugfix]Const specifier added to functions that do not change internal state. (#1114)
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

[AO Prototype] Fix leak in BG renderer (#1115)
  habitat_sim/simulator.py
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

Adress clang-tidy errors
  src/esp/io/URDFParser.h
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/URDFImporter.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletArticulatedObject.h
Due: clang-format

run pre-commit
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
  README.md
Due: none

cpp-lint
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.h
Due: clang-format

bugfix for replay::Player not cleaning up on destruction
  src/esp/gfx/replay/Player.cpp
  src/esp/gfx/replay/Player.h
  src/tests/GfxReplayTest.cpp
Due: clang-format

Fix agent sensorSubType
  src/utils/viewer/viewer.cpp
Due: clang-format

better collision debugging for RigidObject and RigidState
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
Due: clang-format

BulletDebugManager improvements
  src/esp/physics/bullet/BulletDebugManager.cpp
  src/esp/physics/bullet/BulletDebugManager.h
Due: clang-format

reference code for periodically printing collision debug info during the simulation
  src/esp/physics/bullet/BulletPhysicsManager.cpp
Due: clang-format

fixed interaction for Static and Kinematic collision groups; added Noncollidable group
  src/esp/physics/CollisionGroupHelper.cpp
  src/esp/physics/CollisionGroupHelper.h
Due: clang-format

Remove pointer in scene node
  src/esp/agent/Agent.cpp
  src/esp/agent/Agent.h
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/SensorFactory.cpp
  src/esp/sensor/SensorFactory.h
  src/esp/sim/Simulator.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

bugfix for replay::Player not cleaning up on destruction (#1116)
  src/esp/gfx/replay/Player.cpp
  src/esp/gfx/replay/Player.h
  src/tests/GfxReplayTest.cpp
Due: clang-format

Fix agent sensorSubType (#1117)
  src/utils/viewer/viewer.cpp
Due: clang-format

switch to Phong shader
  src/esp/sim/Simulator.cpp
Due: clang-format

hack for better Fetch lighting
  src/esp/assets/ResourceManager.cpp
Due: clang-format
