Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.2
    hooks:
    -   id: seed-isort-config
        language_version: python3.6

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g"  --pipe-fmt py:percent --sync
        pass_filenames: true
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

--Update Conda metadata
  conda-build/habitat-sim/meta.yaml
Due: none

Fix fast path for save_video in colab (#685)
  .pre-commit-config.yaml
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/rigid_object_tutorial.py
  habitat_sim/utils/viz_utils.py
Due: jupytext-sync

Set only build headless binaries
  conda-build/linux_matrix_builder.py
Due: none

Update requirements (#686)
  .pre-commit-config.yaml
  conda-build/habitat-sim/meta.yaml
  requirements.txt
Due: none

Fix isort
  habitat_sim/utils/viz_utils.py
Due: none

Removed build_conda_binaries for each PR used for testing
  .circleci/config.yml
Due: none

Move Conda Nightly builds to Docker to support Colab (#671)
  .circleci/config.yml
  conda-build/Dockerfile
  conda-build/README.md
  conda-build/common/install_conda.sh
  conda-build/linux_matrix_builder.py
Due: none

--Expand attributes bindings and testing of attributes managers
  src/esp/assets/Attributes.h
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/tests/AttributesManagersTest.cpp
  tests/test_attributes_managers.py
Due: clang-format

--Missed improper import
  src/utils/viewer/viewer.cpp
Due: clang-format

--Groundwork for Scene Import
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/configure.h.cmake
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/SimTest.cpp
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

--Initialize non-global.
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Adds --bullet option to build_js.sh
  build_js.sh
Due: none

--Address Reviewer Comments;
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

Groundwork for Scene Import (#687)
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  examples/tutorials/semantic_id_tutorial.py
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/gfx/CMakeLists.txt
  src/esp/physics/CMakeLists.txt
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/configure.h.cmake
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/AttributesManagersTest.cpp
  src/tests/SimTest.cpp
  src/utils/viewer/viewer.cpp
  tests/test_attributes_managers.py
  tests/test_physics.py
  tests/test_simulator.py
Due: jupytext-sync, clang-format

Address reviewer comments
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
Due: clang-format

Fix renderer Flags python bindings
  habitat_sim/gfx.py
  habitat_sim/simulator.py
  src/esp/bindings/GfxBindings.cpp
Due: clang-format

Address reviewer comments
  habitat_sim/gfx.py
  habitat_sim/simulator.py
  src/esp/bindings/GfxBindings.cpp
Due: clang-format

Adds --bullet option to build_js.sh (#690)
  build_js.sh
Due: none

Address reviewer comments
  src/esp/sim/Simulator.cpp
Due: clang-format

Remove navmesh tutorial for now.
  examples/tutorials/navmesh_tutorial.py
Due: none

Also update toggleNavMeshVisualization for Viewer.
  src/utils/viewer/viewer.cpp
Due: clang-format

Render OBJECT nodes in SEMANTIC sensor (#679)
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/simulator.py
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/Renderer.h
  src/esp/scene/SceneNode.h
  src/esp/sensor/PinholeCamera.cpp
  src/tests/CullingTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Simulator NavMesh visualization (#683)
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SimBindings.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
  tests/test_navmesh.py
Due: clang-format

add recompute_navmesh to demo_runner and examples
  examples/demo_runner.py
  examples/example.py
  examples/settings.py
  tests/test_examples.py
Due: none

add flag to enable drawable id
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/esp/gfx/Drawable.h
Due: clang-format

minor
  src/utils/viewer/viewer.cpp
Due: clang-format

add recompute_navmesh to demo_runner and examples (#691)
  examples/demo_runner.py
  examples/example.py
  examples/settings.py
  tests/test_examples.py
Due: none

--Retrieve Copy of object creation attributes
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
  src/esp/physics/RigidScene.h
  src/esp/sim/Simulator.cpp
Due: clang-format

--Retrieve Copy of object creation attributes (#693)
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.h
  src/esp/physics/RigidScene.h
  src/esp/sim/Simulator.cpp
Due: clang-format

Set agent parent back to active_scene_graph for semantic 2nd pass on split semantic scene
  habitat_sim/simulator.py
Due: none

Set agent parent back to active_scene_graph for semantic 2nd pass on split semantic scene (#694)
  habitat_sim/simulator.py
Due: none

Change nightly to run at midnight PST (7AM UTC)
  .circleci/config.yml
Due: none

Add more badges to readme
  README.md
Due: none

Change nightly to run at midnight PST (7AM UTC) (#695)
  .circleci/config.yml
Due: none

--Configuration for SceneImport
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/bindings/AttributesBindings.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Update README.md
  README.md
Due: none

--Clang-tidy complaints
  src/esp/physics/PhysicsManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--Clean up
  src/esp/assets/ResourceManager.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

--Clang-Tidy again.
  src/utils/viewer/viewer.cpp
Due: clang-format
