Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

fix circleci
  .circleci/config.yml
Due: none

Fix circleci deadline exceeded
  .circleci/config.yml
Due: none

Fix collision scene re-loading bug.
  src/esp/assets/ResourceManager.cpp
  tests/test_physics.py
Due: clang-format

Don't encode long videos for testing
  .circleci/config.yml
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  tests/test_examples.py
Due: jupytext-sync

RenderCamera::unproject and Simulator::castRay via Bullet physics (#723)
  habitat_sim/geo.py
  habitat_sim/physics.py
  src/esp/assets/ResourceManager.cpp
  src/esp/bindings/GeoBindings.cpp
  src/esp/bindings/GfxBindings.cpp
  src/esp/bindings/PhysicsBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/geo/geo.h
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/RigidBase.h
  src/esp/physics/RigidObject.cpp
  src/esp/physics/RigidObject.h
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/bullet/BulletRigidScene.cpp
  src/esp/physics/bullet/BulletRigidScene.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
  tests/test_gfx.py
  tests/test_physics.py
Due: clang-format

Force unbuffered
  .circleci/config.yml
Due: none

Add display arg
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  tests/test_examples.py
Due: jupytext-sync

Add explicit sys.exit
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Fix circleci pytest
  .circleci/config.yml
Due: none

Close pyplot plts
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Make plt.show non-blocking
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Guard folder creation and remove sys.exit
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

revert circleci config deadline changes
  .circleci/config.yml
Due: none

Narrative modifications and addressed review comments
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

added Colab
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
Due: jupytext-sync

Added converted python
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  pyproject.toml
Due: jupytext-sync

Added CI mp3d scene and tutorial script test
  .circleci/config.yml
  tests/test_examples.py
Due: none

small fixes
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Refactor NavMesh topdown map visualization using Hab-Lab maps module
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  pyproject.toml
Due: jupytext-sync

--Plug possible loophole in mesh handle/type setting in json;
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
Due: clang-format

-- Add nullptr check to template registration.
  src/esp/assets/managers/AttributesManagerBase.h
Due: clang-format

-- minor cleanup.
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/physics/PhysicsManager.h
Due: clang-format

--Expand python utility functions.
  habitat_sim/utils/viz_utils.py
Due: none

--reviewer concerns
  habitat_sim/utils/viz_utils.py
Due: none

--isort complaints
  habitat_sim/utils/viz_utils.py
Due: none

Make iPython widgets optional for script
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  pyproject.toml
Due: jupytext-sync

Revert unnecessary change
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Disable more video generation
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Missed one make_video call
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Show circleci output
  .circleci/config.yml
Due: none

Undo .circleci change
  .circleci/config.yml
Due: none

minor
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Fix broken colab textbox
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Filled in TODO link
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

adding extra comment on default discrete action space
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Moved Hab-lab imports and calls into display conditional. Added more config to the NavMesh generator example cell.
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  pyproject.toml
Due: jupytext-sync

adjust wireframe width
  src/utils/viewer/ObjectPickingHelper.cpp
Due: clang-format

[object picking] Step 3: select object in the viewer (#661)
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/Drawable.h
  src/esp/gfx/DrawableGroup.h
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/GenericDrawable.h
  src/esp/gfx/MaterialData.h
  src/esp/gfx/MeshVisualizerDrawable.cpp
  src/esp/gfx/MeshVisualizerDrawable.h
  src/esp/gfx/RenderCamera.cpp
  src/esp/gfx/RenderCamera.h
  src/utils/viewer/CMakeLists.txt
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/ObjectPickingHelper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Python Viewer
  examples/viewer.py
  habitat_sim/simulator.py
  pyproject.toml
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

--Address improper auto type deduction
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$, but not: build|src/deps|src/obsolete
