Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.2
    hooks:
    -   id: seed-isort-config
        language_version: python3.6

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g"  --pipe-fmt py:percent --sync
        pass_filenames: true
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

Fix missing include
  src/esp/gfx/DepthUnprojection.h
Due: clang-format

image/pose extraction code
  examples/habitat-api-demo.ipynb
  examples/habitat-sim-demo.ipynb
  poses_run-replica-apartment_0.txt
  src/utils/viewer/viewer.cpp
Due: clang-format

poses
  output_2.txt
Due: none

Add warning
  src/esp/gfx/DepthUnprojection.h
  src/esp/gfx/Renderer.cpp
Due: clang-format

Change depth shader to GL330
  src/esp/gfx/DepthUnprojection.cpp
Due: clang-format

address reviewers' concerns
  src/esp/gfx/DrawableGroup.h
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/MeshVisualizerDrawable.cpp
  src/esp/gfx/MeshVisualizerDrawable.h
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/ObjectPickingHelper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Added python bindings to geo::getTransformedBB (#712)
  habitat_sim/geo.py
  src/esp/bindings/GeoBindings.cpp
  src/esp/geo/geo.h
Due: clang-format

--Map between string tags and asset types
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/io/json.h
Due: clang-format

-- Expand scene attributes, cover all scene creates with init call.
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

--Set relevant initial default quantities for attributes.
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/sim/Simulator.cpp
Due: clang-format

--Further attributes modifications for scenes
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

minor
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/utils/viewer/ObjectPickingHelper.cpp
Due: clang-format

--Remake loadscene; Update Tests and viewer for new loadscene protocol
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/sim/Simulator.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

-- Share some new scene attributes with objects
  src/esp/assets/Attributes.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

--Fix activeSemanticSceneID bug
  src/esp/assets/ResourceManager.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

--Minor fix
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

Change depth shader to GL330 (#715)
  src/esp/gfx/DepthUnprojection.cpp
Due: clang-format

--Address reviewer concerns.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.cpp
Due: clang-format

Scene import implementation (#716)
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesBindings.cpp
  src/esp/io/json.h
  src/esp/sim/Simulator.cpp
  src/tests/CullingTest.cpp
  src/tests/DrawableTest.cpp
  src/tests/PhysicsTest.cpp
  src/tests/ResourceManagerTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Added missing file BulletBase.cpp
  src/esp/physics/bullet/BulletBase.cpp
Due: clang-format

Silly python bugfix in tutorial script assertion
  examples/tutorials/URDF_robotics_tutorial.py
Due: none

Added topdown map matplotlib display utility
  habitat_sim/utils/viz_utils.py
Due: none

Make plot title optional
  habitat_sim/utils/viz_utils.py
Due: none

minor
  habitat_sim/utils/viz_utils.py
Due: none

Added type annotations, adaptive scale, plot saving, tight layout.
  examples/tutorials/semantic_id_tutorial.py
  habitat_sim/utils/viz_utils.py
Due: none

minor
  tests/test_examples.py
Due: none

minor
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

minor
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  tests/test_examples.py
Due: jupytext-sync

Fix isort loop
  .pre-commit-config.yaml
Due: none

make isort read from stdin
  .pre-commit-config.yaml
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Add isort to jupytext (#722)
  .pre-commit-config.yaml
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

minor
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Refactored tests. Removed screen space constraint for unproject.
  src/esp/gfx/RenderCamera.cpp
  tests/test_gfx.py
  tests/test_physics.py
Due: clang-format
