Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer

-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.2
    hooks:
    -   id: seed-isort-config
        language_version: python3.6

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
    -   id: nbstripout
        files: ".ipynb"

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g"  --pipe-fmt py:percent --sync
        pass_filenames: true
        always_run: false
        language: python

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.4.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

--Address improper auto type deduction (#728)
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Prim advanced config update
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  pyproject.toml
Due: jupytext-sync

Repair overwritten fixes
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  pyproject.toml
Due: jupytext-sync

--Plug possible loophole in mesh handle/type setting in json; (#720)
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/physics/PhysicsManager.h
Due: clang-format

Added URDFParser, URDFModel, iiwa test asset and C++ parser test
  data/test_assets/URDF/kuka_iiwa/meshes/finger_base_left.stl
  data/test_assets/URDF/kuka_iiwa/meshes/finger_base_right.stl
  data/test_assets/URDF/kuka_iiwa/meshes/finger_tip_left.stl
  data/test_assets/URDF/kuka_iiwa/meshes/finger_tip_right.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_0.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_1.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_2.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_3.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_4.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_5.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_6.stl
  data/test_assets/URDF/kuka_iiwa/meshes/link_7.stl
  data/test_assets/URDF/kuka_iiwa/model_free_base.urdf
  src/esp/io/CMakeLists.txt
  src/esp/io/URDFParser.cpp
  src/esp/io/URDFParser.h
  src/esp/io/tinyxml2/CMakeLists.txt
  src/esp/io/tinyxml2/tinyxml2.cpp
  src/esp/io/tinyxml2/tinyxml2.h
  src/tests/IOTest.cpp
Due: clang-format

Fix Linux compile
  src/esp/io/URDFParser.h
Due: clang-format

minor adjustments
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Try to ignore tinyxml clang-tidy errors
  src/esp/io/tinyxml2/.clang-tidy
Due: none

Fix import order
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Split Interactivty and Advanced Features Colabs
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

Fix habitat-api + habitat_baselines global install
  examples/colab_utils/colab_install.sh
Due: none

Fix habitat-api + habitat_baselines global install (#731)
  examples/colab_utils/colab_install.sh
Due: none

--Add support for lists of file locations for scene objects.
  src/esp/assets/managers/SceneAttributesManager.cpp
Due: clang-format

Added changes supporting renaming of habitat-api to habitat-lab
  .circleci/config.yml
  README.md
  docs/Doxyfile-mcss
  docs/conf.py
  habitat_sim/utils/__init__.py
Due: none

Added video utils to viz_utils and added viz_utils module to utils.
  habitat_sim/utils/__init__.py
  habitat_sim/utils/viz_utils.py
Due: none

addressed review comments
  habitat_sim/utils/viz_utils.py
Due: none

Add make_video utility to viz_utils (#734)
  habitat_sim/utils/__init__.py
  habitat_sim/utils/viz_utils.py
Due: none

Changed CI comments as well
  .circleci/config.yml
Due: none

Added build doc step to update the website
  .circleci/config.yml
Due: none

Added missing renaming items and set debug branch for HabLab for doc build
  .circleci/config.yml
  docs/Doxyfile-mcss
  docs/conf.py
Due: none

Added --depth 1 to CI
  .circleci/config.yml
Due: none

Fixed git depth
  .circleci/config.yml
Due: none

fix branch checkout
  .circleci/config.yml
Due: none

--Add support for lists of file locations for scene objects. (#732)
  src/esp/assets/managers/SceneAttributesManager.cpp
Due: clang-format

Right usage of depth 1
  .circleci/config.yml
Due: none

Add missing import
  habitat_sim/utils/viz_utils.py
Due: none

Fixed the referenced links that become broken on the website
  .circleci/config.yml
  CONTRIBUTING.md
Due: none

Added changes supporting renaming of habitat-api to habitat-lab (#733)
  .circleci/config.yml
  CONTRIBUTING.md
  README.md
  docs/Doxyfile-mcss
  docs/conf.py
  habitat_sim/utils/__init__.py
Due: none

Nit: change of api to lab in colab scripts
  examples/colab_utils/colab_install.sh
Due: none

Fix indent
  habitat_sim/utils/viz_utils.py
Due: none

Updated Interactive: continuous controller, migrated clutter back, refactored make_video
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

--Make default attributes templates read-only.
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

Refactored make_video
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
Due: jupytext-sync

Refactored section org, updated template tutorials, removed clutter/sampling, make_video
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
Due: jupytext-sync

fixed variable ref before assign for py
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync

--Make default attributes templates read-only. (#735)
  src/esp/assets/Attributes.cpp
  src/esp/assets/Attributes.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/managers/AssetAttributesManager.cpp
  src/esp/assets/managers/AssetAttributesManager.h
  src/esp/assets/managers/AttributesManagerBase.h
  src/esp/assets/managers/ObjectAttributesManager.cpp
  src/esp/assets/managers/ObjectAttributesManager.h
  src/esp/assets/managers/PhysicsAttributesManager.cpp
  src/esp/assets/managers/PhysicsAttributesManager.h
  src/esp/assets/managers/SceneAttributesManager.cpp
  src/esp/assets/managers/SceneAttributesManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

Update docs/pages/image-extractor.rst
  docs/pages/image-extractor.rst
Due: none

completed training example using ImageExtractor and provided more context of default pose extractor behavior
  docs/images/apt0-topdown.png
  docs/images/pytorch-dataset-example-output.png
  docs/images/semantic-segmentation-results.png
  docs/pages/image-extractor.rst
  tests/test_data_extraction.py
Due: none

Interactivity colab clean-up
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
Due: jupytext-sync
