Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

clang-tidy
  src/esp/physics/URDFImporter.cpp
Due: clang-format

Futureproof PIL/CFFI versions for colab install. (#900)
  examples/colab_utils/colab_install.sh
Due: none

clean-up links and viewer
  README.md
  src/utils/viewer/viewer.cpp
Due: clang-format

Enable performance checks, clang-tidy
  .clang-tidy
Due: none

Fix performance bug
  src/esp/sim/Simulator.cpp
Due: clang-format

Easy performance fixes
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SensorBindings.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/sensor/PinholeCamera.cpp
Due: clang-format

Undo changes
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SensorBindings.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/sensor/PinholeCamera.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

minor
  src/shaders/pbr.frag
Due: none

minor
  src/esp/gfx/LightSetup.cpp
Due: clang-format

minor
  src/esp/sim/Simulator.cpp
Due: clang-format

minor
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Autoapply clang-tidy fixes
  src/esp/agent/Agent.cpp
  src/esp/agent/Agent.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/SensorBindings.cpp
  src/esp/core/ManagedContainerBase.cpp
  src/esp/geo/geo.cpp
  src/esp/io/io.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/scene/ObjectControls.cpp
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sensor/PinholeCamera.cpp
  src/esp/sensor/PinholeCamera.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

Fix string concatenations
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Add const reference
  .clang-tidy
  src/esp/bindings/GfxBindings.cpp
Due: clang-format

Update EMSDK
  .circleci/config.yml
Due: none

Fix env
  .circleci/config.yml
Due: none

set emscripten from env
  .circleci/config.yml
Due: none

Remove source. use .
  .circleci/config.yml
Due: none

Try old version of EMSDK again
  .circleci/config.yml
  README.md
Due: none

[CIRCLECI] Enable clang-tidy performance checks (CI) (#905)
  .circleci/config.yml
  .clang-tidy
  README.md
  src/esp/agent/Agent.cpp
  src/esp/agent/Agent.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings/GfxBindings.cpp
  src/esp/bindings/SensorBindings.cpp
  src/esp/core/ManagedContainerBase.cpp
  src/esp/geo/geo.cpp
  src/esp/io/io.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/LightLayoutAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/scene/ObjectControls.cpp
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sensor/PinholeCamera.cpp
  src/esp/sensor/PinholeCamera.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

Fix material loading bugs related to URDF material overwriting.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/io/URDFParser.cpp
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletURDFImporter.cpp
Due: clang-format

minor
  src/esp/gfx/PbrDrawable.cpp
Due: clang-format

Add Advanced Features tutorial code to test_examples and fix minor refactor bug.
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  tests/test_examples.py
Due: jupytext-sync

[PBR] Support rendering "Double sided" material (#902)
  src/esp/assets/ResourceManager.cpp
  src/esp/gfx/MaterialData.h
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/PbrShader.h
  src/shaders/pbr.frag
Due: clang-format

--add empty init for examples directory
  examples/__init__.py
Due: none

Add Advanced Features tutorial code to test_examples and fix minor refactor bug. (#907)
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  tests/test_examples.py
Due: jupytext-sync

--add empty init for examples directory (#908)
  examples/__init__.py
Due: none

Added link friction get/set
  examples/tutorials/URDF_robotics_tutorial.py
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
Due: clang-format

typo fix in RST json tag format
  docs/pages/attributesJSON.rst
Due: none

--[BUG-FIX] Fix is-own-initializer bug
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

--[BUG-FIX] Fix is-own-initializer bug (#911)
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

--missed ref in viewer
  src/utils/viewer/viewer.cpp
Due: clang-format

--Temp change to ci config to debug segfault
  .circleci/config.yml
Due: none

--revert most changes to config.yaml except to timeout.
  .circleci/config.yml
Due: none

--update python docs to have appropriate sim config scene_id access
  docs/pages/image-extractor.rst
Due: none

--Fix SimulatorConfiguration == op overload to compare entire struct.
  src/esp/sim/SimulatorConfiguration.cpp
Due: clang-format

--Refactor configuration scene id in colab tutorials
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
