Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

Deprecate sensorSuite and Sensor wrapper in python now that sensors are kept track of on the c++ side, fix some python tests
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  habitat_sim/agent/agent.py
  habitat_sim/simulator.py
  src/esp/bindings/SensorBindings.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/Sensor.h
  src/esp/sensor/VisualSensor.h
  tests/test_gfx.py
Due: jupytext-sync, clang-format

Additional C++ tests
  habitat_sim/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/bindings/__init__.py
  src/esp/scene/SceneNode.cpp
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/SensorFactory.cpp
  src/tests/SensorTest.cpp
Due: clang-format

fix fetal bugs when viewpoprt changes
  src/esp/gfx/CubeMap.cpp
  src/esp/sensor/FisheyeSensor.cpp
Due: clang-format

Added tinyxml2 to dependencies linked to IO
  src/cmake/dependencies.cmake
  src/deps/tinyxml2/CMakeLists.txt
  src/deps/tinyxml2/tinyxml2.cpp
  src/deps/tinyxml2/tinyxml2.h
  src/esp/io/CMakeLists.txt
Due: none

Update src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.cpp
Due: clang-format

minor
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/FisheyeShader.cpp
Due: clang-format

SensorReader class
  habitat_sim/sensors/__init__.py
  habitat_sim/simulator.py
Due: none

Have simulator drive drawing process
  habitat_sim/simulator.py
Due: none

Added Euclidean SDF to Voxel frame work
  src/esp/assets/ResourceManager.h
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/geo/VoxelWrapper.cpp
  src/esp/geo/VoxelWrapper.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/ObjectPickingHelper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

VisualSensor and CameraSensor updates
  src/esp/bindings/SensorBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

Revert python
  habitat_sim/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/bindings/__init__.py
  habitat_sim/sensors/__init__.py
  habitat_sim/simulator.py
Due: none

Have simulator drive drawing process
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  habitat_sim/agent/agent.py
  habitat_sim/bindings/__init__.py
  habitat_sim/sensor.py
  habitat_sim/sensors/__init__.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  src/esp/bindings/SensorBindings.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/Sensor.h
  src/esp/sensor/VisualSensor.h
  tests/test_agent.py
  tests/test_gfx.py
Due: jupytext-sync, clang-format

Some C++ improvements, making test more robust, fixing typo
  src/esp/agent/Agent.cpp
  src/esp/agent/Agent.h
  src/esp/scene/SceneNode.cpp
  src/esp/sim/Simulator.cpp
  src/tests/SensorTest.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

SceneNodeTag fix for initializing sensors directly
  habitat_sim/simulator.py
  src/esp/sensor/Sensor.cpp
Due: clang-format

Fix python tests
  habitat_sim/__init__.py
  habitat_sim/agent/agent.py
  habitat_sim/bindings/__init__.py
  src/esp/sensor/Sensor.cpp
Due: clang-format

Add comment for channels, make orthoScale camelCase
  src/esp/bindings/SensorBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.h
Due: clang-format

Progress
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
  src/esp/gfx/EquirectangularShader.cpp
  src/esp/gfx/EquirectangularShader.h
  src/esp/sensor/CMakeLists.txt
  src/esp/sensor/EquirectangularSensor.cpp
  src/esp/sensor/EquirectangularSensor.h
  src/esp/sensor/Sensor.h
Due: clang-format

Make agent's getSensors more clear by changing it to getSubtreeSensors
  src/esp/agent/Agent.h
  src/esp/sim/Simulator.cpp
Due: clang-format

Fix segfault due to nullptr
  src/esp/scene/SceneNode.cpp
Due: clang-format

Fix 2
  src/esp/scene/SceneNode.cpp
  src/tests/SensorTest.cpp
Due: clang-format

addressing Eriks comment
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

[Sensor] VisualSensor and CameraSensor updates for Hierarchical SensorSpec (#1138)
  src/esp/bindings/SensorBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

Add comments
  src/esp/agent/Agent.h
  src/esp/bindings_js/bindings_js.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/VisualSensor.h
Due: clang-format

Update SceneNode::setParent comments
  src/esp/scene/SceneNode.cpp
Due: clang-format

hack to use 4x brigher lights for ycb objects when light-tuning a gfx replay
  src/esp/gfx/replay/Player.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Added rendering system that works outside of viewer, fixed garbage collection for voxel node drawables, Added simple test.
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/geo/VoxelWrapper.cpp
  src/esp/geo/VoxelWrapper.h
  src/esp/physics/PhysicsManager.cpp
  src/tests/CMakeLists.txt
  src/utils/viewer/viewer.cpp
Due: clang-format

hack disable display of bellows_link.STL for gfx playback because we don't want to display it
  src/esp/gfx/replay/Player.cpp
Due: clang-format

Cleaned up code & added some comments. Build still failing when built without --vhacd flag
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/utils/viewer/CMakeLists.txt
  src/utils/viewer/ObjectPickingHelper.cpp
  src/utils/viewer/ObjectPickingHelper.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Get context before bind
  habitat_sim/simulator.py
Due: none

Replace WebVR integration with WebXR
  src/esp/bindings_js/modules/web_demo.js
Due: none

Add controller input and apply head direction to agent
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/vr_demo.js
Due: clang-format

VR polish; remove some unneeded bindings
  build_js.sh
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/vr_demo.js
  src/esp/bindings_js/modules/web_demo.js
Due: clang-format

update post-JS-build text for VR
  build_js.sh
Due: none

Fixed some clang-tidy issues
  src/esp/assets/ResourceManager.h
  src/esp/geo/VoxelGrid.cpp
  src/esp/geo/VoxelGrid.h
  src/esp/geo/VoxelWrapper.cpp
  src/esp/geo/VoxelWrapper.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
Due: clang-format

Fixed clang issue #2, added instructions for interfacing with Voxel framework in viewer
  src/esp/physics/PhysicsManager.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

Included VoxelGridTest.cpp in commit
  src/tests/VoxelGridTest.cpp
Due: clang-format

Address feedback, improvements to SceneNode SensorSuite management
  src/esp/bindings/SensorBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
Due: clang-format

update python
  habitat_sim/agent/agent.py
  habitat_sim/sensors/__init__.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  src/esp/bindings/SensorBindings.cpp
Due: clang-format

minor
  src/shaders/doubleSphereCamera.frag
Due: none

minor
  src/shaders/depth.frag
Due: none
