Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

minor
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/RenderTarget.h
  src/esp/gfx/Renderer.cpp
Due: clang-format

minor
  src/esp/gfx/Renderer.cpp
Due: clang-format

minor
  src/esp/gfx/RenderTarget.cpp
Due: clang-format

--remove unused dep
  src/esp/bindings/AttributesBindings.cpp
Due: clang-format

--expand help messages to include type of objects managed.
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

--minor change
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

--clarify type str for more descriptive messages
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
Due: clang-format

Updated lighting-steps.rst to most recent simulator state
  docs/pages/lighting-setups.rst
Due: none

Updated lighting-steps.rst to most recent simulator state (#1205)
  docs/pages/lighting-setups.rst
Due: none

Attributes Managers python bindings more descriptive help text. (#1204)
  src/esp/bindings/AttributesBindings.cpp
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
Due: clang-format

--update
  src/esp/core/managedContainers/ManagedContainer.h
  src/esp/core/managedContainers/ManagedFileBasedContainer.h
Due: clang-format

--Change LOG messages to Corrade Debugs
  src/esp/core/managedContainers/ManagedContainerBase.cpp
  src/esp/core/managedContainers/ManagedContainerBase.h
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/MetadataMediator.h
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/AssetAttributesManager.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
Due: clang-format

[PRECOMMIT] Add CircleCI Validator and update JuPyText (#1200)
  .pre-commit-config.yaml
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  tools/sync_notebooks.sh
Due: jupytext-sync

Add contactTest | contact_test support for ArticulatecObjects
  examples/tutorials/URDF_robotics_tutorial.py
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletArticulatedObject.h
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
Due: clang-format

minor
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/Renderer.cpp
  src/esp/gfx/TextureVisualizerShader.cpp
  src/esp/gfx/TextureVisualizerShader.h
  src/shaders/textureVisualizer.frag
  src/utils/viewer/viewer.cpp
Due: clang-format

Refactor to support fixed base proxy rigid object
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletBase.h
Due: clang-format

minor
  src/utils/viewer/viewer.cpp
Due: clang-format

simply add a comment
  src/esp/gfx/RenderTarget.cpp
Due: clang-format

[Sensor] Use texture instead of render buffer for semantic info rendering (#1203)
  src/esp/gfx/RenderTarget.cpp
  src/esp/gfx/RenderTarget.h
  src/esp/gfx/Renderer.cpp
Due: clang-format

minor
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMap.h
Due: clang-format

Add getters for ArticulatedLink SceneNodes and visual SceneNodes. Modified existing SceneNode getters to also support ArticulatedObjects.
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/bindings/SceneBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/ArticulatedObject.h
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
Due: clang-format

minor
  src/esp/gfx/CubeMap.cpp
  src/esp/gfx/CubeMapShaderBase.cpp
  src/esp/gfx/CubeMapShaderBase.h
  src/esp/gfx/DoubleSphereCameraShader.cpp
  src/esp/gfx/TextureVisualizerShader.cpp
  src/esp/sensor/CubeMapSensorBase.cpp
  src/shaders/doubleSphereCamera.frag
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/esp/gfx/TextureVisualizerShader.cpp
Due: clang-format

minor
  src/esp/gfx/TextureVisualizerShader.cpp
  src/utils/viewer/viewer.cpp
Due: clang-format

add equiRec semantic
  src/esp/gfx/EquirectangularShader.cpp
  src/esp/sensor/CubeMapSensorBase.cpp
  src/shaders/equirectangular.frag
  src/utils/viewer/viewer.cpp
Due: clang-format

fix a bug
  src/utils/viewer/viewer.cpp
Due: clang-format

correctly configure custom groups for fridge urdf
  data/test_assets/URDF/fridge/fridge.urdf
Due: none

minor
  src/esp/gfx/CubeMap.cpp
Due: clang-format

address the complaints from the stupid clang-tidy
  src/esp/gfx/CubeMap.cpp
Due: clang-format

Update README.md
  README.md
Due: none

Fix ReadMe Precommit Issues
  README.md
Due: none

--init commit; Refactor enum to use appropriate case conventions.
  docs/pages/attributesJSON.rst
  src/esp/bindings/GfxBindings.cpp
  src/esp/gfx/LightSetup.cpp
  src/esp/gfx/LightSetup.h
  src/esp/metadata/attributes/LightLayoutAttributes.cpp
  src/esp/metadata/attributes/LightLayoutAttributes.h
  src/tests/SimTest.cpp
Due: clang-format

--Support and test setting position model in lighting instance config;
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/tests/AttributesManagersTest.cpp
Due: clang-format

--update python bindings, docs, tests and examples
  examples/tutorials/lighting_tutorial.py
  src/esp/bindings/GfxBindings.cpp
  tests/test_light_setup.py
Due: clang-format

--minor update to attributes doc.
  docs/pages/attributesJSON.rst
Due: none
