Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

1st pass migrating non-AO physics and collision changes onto master
  examples/tutorials/physics_benchmarking.py
  src/esp/bindings/PhysicsBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/physics/CMakeLists.txt
  src/esp/physics/CollisionGroupHelper.cpp
  src/esp/physics/CollisionGroupHelper.h
  src/esp/physics/PhysicsManager.h
  src/esp/physics/bullet/BulletBase.cpp
  src/esp/physics/bullet/BulletBase.h
  src/esp/physics/bullet/BulletDebugManager.cpp
  src/esp/physics/bullet/BulletDebugManager.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletPhysicsManager.h
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/physics/bullet/BulletRigidStage.h
  src/esp/physics/bullet/CMakeLists.txt
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/tests/PhysicsTest.cpp
Due: clang-format

typo
  .circleci/config.yml
Due: none

refactor isActive and setActive
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/PhysicsManager.h
  src/esp/physics/PhysicsObjectBase.h
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidObject.h
  src/esp/physics/objectWrappers/ManagedPhysicsObjectBase.h
  src/tests/PhysicsTest.cpp
Due: clang-format

doc typo
  docs/pages/managed-rigid-object-tutorial.rst
Due: none

Update CMakelist
  src/CMakeLists.txt
Due: none

Try waiting for CUDA installed before compiling
  .circleci/config.yml
Due: none

Go back to more complex
  .circleci/config.yml
Due: none

Clean up CMakelists
  src/CMakeLists.txt
Due: none

Try reverting
  .circleci/config.yml
Due: none

Revert entire CircleCI
  .circleci/config.yml
Due: none

Add Release build
  .circleci/config.yml
Due: none

replace manual collision gourp creation with function
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Make it easier to specify LTO
  src/CMakeLists.txt
Due: none

Rename cfg to build_type
  setup.py
Due: none

Forgot to add back circleci
  .circleci/config.yml
Due: none

Fix broken setup.py
  .pre-commit-config.yaml
  setup.py
Due: none

[Clang-Tidy] Enable modernize-make checks
  .clang-tidy
  src/esp/assets/ResourceManager.cpp
Due: clang-format

switch collab install back to script isntead of module
  examples/colab_utils/colab_install.sh
Due: none

minor
  src/shaders/pbr.frag
Due: none

add misc-unique-ptr-reset-release too
  .clang-tidy
Due: none

refactor to Corrade::Optional
  src/esp/assets/Asset.h
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Ensure emscripten doesn't complain
  src/CMakeLists.txt
Due: none

Fix arg style
  .circleci/config.yml
Due: none

Fix arg style part2
  setup.py
Due: none

[Clang-Tidy] Enable readability string compare
  .clang-tidy
  src/esp/assets/ResourceManager.cpp
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/SimulatorConfiguration.cpp
Due: clang-format

Apply second round of fixes
  src/esp/metadata/MetadataMediator.cpp
Due: clang-format

Change behavior to be closer to reset
  src/esp/assets/ResourceManager.cpp
Due: clang-format

[Clang-Tidy] Enable readability string compare check (#1250)
  .clang-tidy
  src/esp/assets/ResourceManager.cpp
  src/esp/metadata/MetadataMediator.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.cpp
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/AbstractObjectAttributesManagerBase.h
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/SimulatorConfiguration.cpp
Due: clang-format

Revert back to original delta
  src/esp/assets/ResourceManager.cpp
Due: clang-format

refactor standard RenderAsset loading pipeline to support override material in AssetInfo
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

[Clang-Tidy] Enable modernize-make checks (#1249)
  .clang-tidy
  src/esp/assets/ResourceManager.cpp
Due: clang-format

add overload loadAndCreateRenderAssetInstance to directly pass parameters to createRenderAssetInstance when known
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

remove old loadAsset and refactor URDF import to use new methods
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
  src/esp/physics/bullet/BulletArticulatedObject.cpp
  src/esp/physics/bullet/BulletURDFImporter.cpp
Due: clang-format

refactor to address reviews and adapt the existing pipeline instead of adding a new path to the pipeline
  src/esp/assets/Asset.h
  src/esp/assets/ResourceManager.cpp
  src/esp/assets/ResourceManager.h
Due: clang-format

missed code migration
  src/esp/assets/ResourceManager.cpp
Due: clang-format

Data download utility (#1198)
  .circleci/config.yml
  README.md
  docs/pages/managed-rigid-object-tutorial.rst
  examples/colab_utils/colab_install.sh
  examples/demo_runner.py
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/managed_rigid_object_tutorial.ipynb
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/managed_rigid_object_tutorial.py
  examples/tutorials/nb_python/replay_tutorial.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
  habitat_sim/utils/datasets_download.py
  src/esp/bindings_js/modules/test_page.js
  src/utils/viewer/viewer.cpp
  tests/test_greedy_follower.py
  tests/test_navmesh.py
  tests/test_physics.py
  tests/test_semantic_scene.py
  tests/test_sensors.py
Due: jupytext-sync, clang-format

--update to ignore data from automated dl.
  .gitignore
Due: none

--update to ignore data from automated dl. (#1253)
  .gitignore
Due: none

--Improve naming and organization of loading methods.
  src/esp/bindings/AttributesManagersBindings.cpp
  src/esp/bindings_js/bindings_js.cpp
  src/esp/core/managedContainers/ManagedFileBasedContainer.h
  src/esp/metadata/managers/AttributesManagerBase.h
  src/tests/SimTest.cpp
Due: clang-format
