Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

Remove scenegraph from test_gfx, it is not used
  tests/test_gfx.py
Due: none

Fix mypy issue in tests/test_gfx.py
  tests/test_gfx.py
Due: none

Fix binding policy of getRenderCamera to reference
  src/esp/bindings/SensorBindings.cpp
Due: clang-format

Make Python ownership make docstring
  src/esp/bindings/SensorBindings.cpp
Due: clang-format

Try to fix segfault
  src/esp/sensor/CameraSensor.cpp
Due: clang-format

Try to fix setProjectionMatrix segfault by initializing RenderCamera first
  src/esp/sensor/CameraSensor.cpp
Due: clang-format

Add validators to AgentState
  habitat_sim/agent/agent.py
  habitat_sim/utils/__init__.py
  habitat_sim/utils/validators.py
Due: none

Add tests
  habitat_sim/utils/validators.py
  tests/test_agent.py
Due: none

Fix error message
  habitat_sim/utils/validators.py
Due: none

Validate SixDOFPose too
  habitat_sim/agent/agent.py
Due: none

Add validation
  habitat_sim/agent/agent.py
Due: none

Undo unnecessary validation
  habitat_sim/agent/agent.py
Due: none

Fix test_gfx.py
  tests/test_gfx.py
Due: none

Added initial test suite for testing physics & rendering efficiency.
  examples/tutorials/physics_unit_tests.py
Due: none

Added more objects to the bowl throw test
  examples/tutorials/physics_unit_tests.py
Due: none

Add is_unit_length validators and deep 6DOF validators
  habitat_sim/agent/agent.py
  habitat_sim/utils/validators.py
Due: none

Remove print
  habitat_sim/utils/validators.py
Due: none

Add is_normalized to mn.Quaternion
  habitat_sim/utils/validators.py
Due: none

Get RenderCamera from Sensor object in test_gfx.py
  tests/test_gfx.py
Due: none

fix ECCV examples test, remove unused import statement from test_gfx
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  tests/test_gfx.py
Due: jupytext-sync

Lint test_gfx
  tests/test_gfx.py
Due: none

Added testing functionality, graphing, and cleaned up code.
  examples/tutorials/physics_unit_tests.py
  tests/test_physics_unit_tests.py
Due: none

Speed up get_state
  habitat_sim/agent/agent.py
  habitat_sim/utils/validators.py
Due: none

Remove Assert from Renderer::draw, Add comments to functions in CameraSensor.h
  src/esp/gfx/Renderer.cpp
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
Due: clang-format

Make get_render_camera property_readonly in SensorBindings
  src/esp/bindings/SensorBindings.cpp
  tests/test_gfx.py
Due: clang-format

Fix tests
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/rigid_object_tutorial_output/sim_basics.mp4
Due: jupytext-sync

add replay tutorial
  docs/pages/index.rst
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  habitat_sim/utils/gfx_replay_utils.py
Due: jupytext-sync

Add *.mp4 to gitignore, Rename get_render_camera to render_camera
  .gitignore
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/rigid_object_tutorial_output/sim_basics.mp4
  src/esp/bindings/SensorBindings.cpp
  tests/test_gfx.py
Due: jupytext-sync, clang-format

Let's see if that works
  conda-build/habitat-sim/meta.yaml
Due: none

Let's see if that works (#1052)
  conda-build/habitat-sim/meta.yaml
Due: none

replay tutorial text polish
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
Due: jupytext-sync

Gfx replay tutorial (#1049)
  docs/pages/index.rst
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  habitat_sim/utils/gfx_replay_utils.py
Due: jupytext-sync

Make nav point sampling more robust
  src/esp/nav/PathFinder.cpp
Due: clang-format

Little bug fix
  src/esp/nav/PathFinder.cpp
Due: clang-format

Addressed some PR changed; some still need to be done.
  examples/tutorials/physics_benchmarking.py
  tests/test_physics_benchmarking.py
Due: none

Added buggy skeleton python viewer
  examples/viewer.py
Due: none

Make this a parameter
  docs/docs.rst
  src/esp/bindings/ShortestPathBindings.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/nav/PathFinder.h
Due: clang-format

Extracted some functions into helpers/utils, addressed PR comments Please enter the commit message for your changes. Lines starting
  examples/tutorials/physics_benchmarking.py
  setup.cfg
  tests/conftest.py
  tests/helpers/utils.py
  tests/test_physics_benchmarking.py
Due: none

minor
  src/utils/viewer/viewer.cpp
Due: clang-format
