Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

.pre-commit-config.yaml:

exclude: 'build|data/datasets|data/scene_datasets|src/deps|src/obsolete'

default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: end-of-file-fixer
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: debug-statements
    -   id: mixed-line-ending
        args: ['--fix=lf']

-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.4
    hooks:
    -   id: isort
        exclude: docs/
        additional_dependencies: [toml]

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      exclude: ^examples/tutorials/(nb_python|colabs)

-   repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
    -   id: autoflake
        args: ['--expand-star-imports', '--ignore-init-module-imports', '--in-place']
        exclude: docs/

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        exclude: docs/
        additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.782'
    hooks:
    -   id: mypy
        pass_filenames: false

-   repo: https://github.com/kynan/nbstripout
    rev: 0.3.9
    hooks:
    -   id: nbstripout
        files: '.ipynb'

-   repo: local
    hooks:
    -   id: jupytext-sync
        name: Sync scripts and notebooks
        files: '^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$'
        entry: jupytext --update-metadata '{"jupytext":{"notebook_metadata_filter":"all", "cell_metadata_filter":"-all"}, "accelerator":"GPU"}' --set-formats 'nb_python//py:percent,colabs//ipynb' --pipe black --pipe "sed s/[[:space:]]*\#[[:space:]]\%\%/\#\%\%/g" --pipe 'isort -' --pipe-fmt 'py:percent' --sync
        pass_filenames: true
        additional_dependencies:
            - 'jupytext==1.5.2'
            - 'black==20.8b1'
            - 'isort==5.4.2'
        always_run: false
        language: python
        require_serial: true

-   repo: local
    hooks:
    - id: clang-format
      name: Run clang-format
      exclude: src/deps
      entry: clang-format -i -style=file
      types: [text]
      files: '.*\.(cpp|h|hpp|cu|cuh)$'
      language: system

-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        exclude: (^src/(cmake/Find|deps)|configure\.h\.cmake$)

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.10.0
    hooks:
    -   id: eslint
        args: [--fix, --ext .html,.js]
        additional_dependencies:
        - eslint@6.4.0
        - eslint-config-prettier@6.3.0
        - eslint-plugin-prettier@3.1.0
        - eslint-plugin-html@6.0.0
        - prettier@1.18.2

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
    -   id: shellcheck

Fix comments, add flags, add delete methods in SensorFactory
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/SensorFactory.cpp
  src/esp/sensor/SensorFactory.h
  src/tests/SensorTest.cpp
Due: clang-format

fix for replay tutorial; add replay tutorial to test_examples.py
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  src/esp/bindings/GfxReplayBindings.cpp
  src/esp/gfx/replay/Player.cpp
  src/esp/gfx/replay/Player.h
  tests/test_examples.py
Due: jupytext-sync, clang-format

Update conda-build/common/delete_old_night_packages.py
  conda-build/common/delete_old_night_packages.py
Due: none

Updated the command line parameters
  .circleci/config.yml
  conda-build/common/delete_old_night_packages.py
Due: none

Added script to CI to delete old nightly built conda packages (#1083)
  .circleci/config.yml
  conda-build/common/delete_old_night_packages.py
Due: none

minor
  src/esp/gfx/FisheyeShader.h
  src/esp/sensor/FisheyeSensor.h
Due: clang-format

optimization
  src/esp/gfx/DoubleSphereCameraShader.cpp
  src/esp/gfx/DoubleSphereCameraShader.h
  src/esp/gfx/FisheyeShader.cpp
  src/esp/gfx/FisheyeShader.h
  src/esp/sensor/FisheyeSensor.cpp
  src/esp/sensor/FisheyeSensor.h
Due: clang-format

minor
  src/esp/gfx/DoubleSphereCameraShader.h
  src/esp/gfx/FisheyeShader.h
  src/esp/gfx/SensorInfoVisualizer.h
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.h
Due: clang-format

Fixed path in delete conda build call in CI
  .circleci/config.yml
Due: none

minor
  src/esp/bindings/SensorBindings.cpp
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/FisheyeSensor.cpp
  src/esp/sensor/FisheyeSensor.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
Due: clang-format

Update .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Update .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
Due: none

Fixed path in delete old nightly packages call in CI (#1130)
  .circleci/config.yml
Due: none

js
  src/esp/bindings_js/bindings_js.cpp
Due: clang-format

minor
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/CameraSensor.h
  src/esp/sensor/VisualSensor.h
Due: clang-format

minor
  src/esp/bindings_js/bindings_js.cpp
Due: clang-format

minor
  src/esp/sensor/FisheyeSensor.cpp
Due: clang-format

minor
  src/esp/gfx/CMakeLists.txt
  src/esp/gfx/DepthVisualizerShader.cpp
  src/esp/gfx/DepthVisualizerShader.h
  src/esp/gfx/SensorInfoVisualizer.cpp
  src/esp/gfx/SensorInfoVisualizer.h
  src/esp/sensor/CameraSensor.cpp
  src/esp/sensor/FisheyeSensor.cpp
  src/esp/sensor/SensorFactory.h
  src/esp/sensor/VisualSensor.cpp
  src/esp/sensor/VisualSensor.h
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/utils/viewer/viewer.cpp
Due: clang-format

minor
  src/shaders/depth.frag
Due: none

minor
  src/esp/sensor/Sensor.h
Due: clang-format

fix for replay tutorial replay filepath
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
Due: jupytext-sync

Update SceneNode::setParent(), Improve API for SceneNodeTags
  src/esp/bindings/SceneBindings.cpp
  src/esp/bindings/SensorBindings.cpp
  src/esp/scene/SceneNode.cpp
  src/esp/scene/SceneNode.h
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
  src/esp/sensor/SensorFactory.cpp
  src/esp/sensor/SensorFactory.h
  src/tests/SensorTest.cpp
Due: clang-format

Preliminary python
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  habitat_sim/agent/agent.py
  habitat_sim/bindings/__init__.py
  habitat_sim/sensor.py
  habitat_sim/sensors/__init__.py
  habitat_sim/sensors/sensor_suite.py
  habitat_sim/simulator.py
  tests/test_agent.py
Due: jupytext-sync

--Refactor : Change pragma once to full header guard
  src/esp/bindings/OpaqueTypes.h
  src/esp/core/configure.h.cmake
  src/esp/geo/CoordinateFrame.h
  src/esp/gfx/MaterialUtil.h
  src/esp/gfx/cuda_helpers/helper_cuda.h
  src/esp/gfx/cuda_helpers/helper_string.h
Due: clang-format

temp change to writeSavedKeyframesToFile to always write all keyframes since step 0
  src/esp/gfx/replay/Recorder.cpp
Due: clang-format

--Refactor : Change pragma once to full header guard (#1133)
  src/esp/bindings/OpaqueTypes.h
  src/esp/core/configure.h.cmake
  src/esp/geo/CoordinateFrame.h
  src/esp/gfx/MaterialUtil.h
  src/esp/gfx/cuda_helpers/helper_cuda.h
  src/esp/gfx/cuda_helpers/helper_string.h
Due: clang-format

fix for replay tutorial; add replay tutorial to test_examples.py (#1129)
  examples/tutorials/colabs/replay_tutorial.ipynb
  examples/tutorials/nb_python/replay_tutorial.py
  src/esp/bindings/GfxReplayBindings.cpp
  src/esp/gfx/replay/Player.cpp
  src/esp/gfx/replay/Player.h
  tests/test_examples.py
Due: jupytext-sync, clang-format

Basis
  .gitmodules
  src/CMakeLists.txt
  src/cmake/dependencies.cmake
  tools/basis_all_the_things.py
Due: none

Remove logging on SensorSpec debug
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
Due: clang-format

Added Anaconda install, fixed parameters to delete script
  .circleci/config.yml
Due: none

Switcehd to 2020 acanaconda
  .circleci/config.yml
Due: none

Remove logging on SensorSpec debug (#1135)
  src/esp/sensor/Sensor.cpp
  src/esp/sensor/Sensor.h
Due: clang-format

Removed $
  .circleci/config.yml
Due: none

Remote debug part
  .circleci/config.yml
Due: none

Added Anaconda install, fixed parameters to delete script (#1136)
  .circleci/config.yml
Due: none
