Repository facebookresearch/habitat-sim: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext-sync, clang-format

jupytext-sync:
  name: Sync scripts and notebooks
  ...

clang-format:
  name: Run clang-format
  entry: clang-format -i -style=file
  language: system

--remove refs to sceneconfig.filepaths
  src/esp/metadata/attributes/SceneDatasetAttributes.h
  src/esp/metadata/managers/SceneDatasetAttributesManager.h
  src/esp/metadata/managers/StageAttributesManager.cpp
  src/esp/metadata/managers/StageAttributesManager.h
  src/esp/sim/Simulator.cpp
Due: clang-format

--change stage to one with no navmesh in test.
  tests/test_simulator.py
Due: none

--Refactor scene id/remove sceneConfiguration in javascript
  src/esp/bindings_js/bindings_js.cpp
  src/esp/bindings_js/modules/web_demo.js
Due: clang-format

--Refactor configuration scene id in python tutorials and tests
  examples/settings.py
  examples/tutorials/lighting_tutorial.py
  examples/tutorials/new_actions.py
  examples/tutorials/semantic_id_tutorial.py
  examples/tutorials/stereo_agent.py
  habitat_sim/scene.py
  habitat_sim/simulator.py
  habitat_sim/utils/data/data_extractor.py
  tests/test_simulator.py
Due: none

--Remove outdated refs to SceneConfiguration.filepaths
  habitat_sim/simulator.py
  tests/test_simulator.py
Due: none

--reference correct, existing file for test.
  tests/test_simulator.py
Due: none

--Remove refs to outdated SceneConfiguration
  src/esp/bindings/SceneBindings.cpp
  src/esp/bindings/SimBindings.cpp
  src/esp/scene/CMakeLists.txt
  src/esp/scene/SceneConfiguration.cpp
  src/esp/scene/SceneConfiguration.h
  src/esp/scene/test/GibsonSceneTest.cpp
  src/esp/sim/Simulator.cpp
  src/esp/sim/Simulator.h
  src/esp/sim/SimulatorConfiguration.h
  src/tests/SimTest.cpp
Due: clang-format

--Remove refs/refactor SceneConfiguration in c++ tests
  src/esp/assets/ResourceManager.cpp
  src/esp/scene/test/GibsonSceneTest.cpp
  src/esp/scene/test/ReplicaSceneTest.cpp
  src/esp/sim/SimulatorConfiguration.cpp
  src/tests/SimTest.cpp
Due: clang-format

Run clang-format
  src/esp/agent/Agent.cpp
  src/esp/assets/GenericInstanceMeshData.cpp
  src/esp/assets/PTexMeshData.cpp
  src/esp/assets/ResourceManager.cpp
  src/esp/core/ManagedContainerBase.cpp
  src/esp/geo/CoordinateFrame.cpp
  src/esp/geo/CoordinateFrame.h
  src/esp/geo/OBB.cpp
  src/esp/geo/OBB.h
  src/esp/geo/geo.cpp
  src/esp/gfx/DepthUnprojection.cpp
  src/esp/gfx/GenericDrawable.cpp
  src/esp/gfx/LightSetup.cpp
  src/esp/gfx/MaterialUtil.cpp
  src/esp/gfx/PTexMeshShader.cpp
  src/esp/gfx/PbrDrawable.cpp
  src/esp/gfx/PbrShader.cpp
  src/esp/gfx/RenderCamera.cpp
  src/esp/io/io.cpp
  src/esp/io/json.cpp
  src/esp/metadata/managers/AssetAttributesManager.cpp
  src/esp/metadata/managers/ObjectAttributesManager.cpp
  src/esp/metadata/managers/PhysicsAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.cpp
  src/esp/metadata/managers/SceneDatasetAttributesManager.cpp
  src/esp/nav/GreedyFollower.cpp
  src/esp/nav/PathFinder.cpp
  src/esp/physics/PhysicsManager.cpp
  src/esp/physics/RigidObject.cpp
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/scene/GibsonSemanticScene.cpp
  src/esp/scene/ObjectControls.cpp
  src/esp/scene/SceneConfiguration.cpp
  src/esp/scene/SceneGraph.cpp
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sensor/PinholeCamera.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

Fix only nullptr clang-tidy per Mosra request
  .clang-tidy
  src/esp/assets/PTexMeshData.cpp
  src/esp/assets/ResourceManager.cpp
  src/esp/core/Buffer.cpp
  src/esp/core/ManagedContainerBase.cpp
  src/esp/geo/CoordinateFrame.cpp
  src/esp/geo/CoordinateFrame.h
  src/esp/geo/OBB.cpp
  src/esp/geo/OBB.h
  src/esp/geo/geo.cpp
  src/esp/gfx/DrawableGroup.cpp
  src/esp/gfx/LightSetup.cpp
  src/esp/io/io.cpp
  src/esp/physics/bullet/BulletPhysicsManager.cpp
  src/esp/physics/bullet/BulletRigidStage.cpp
  src/esp/scene/SuncgSemanticScene.cpp
  src/esp/sim/Simulator.cpp
Due: clang-format

Clang tidy modernize fixes (use C++11 nullptr) (#912)
  .clang-tidy
  src/esp/nav/PathFinder.cpp
  src/esp/nav/PathFinder.h
Due: clang-format

Added VISUALIZATION_ONLY MotionType
  src/esp/bindings/PhysicsBindings.cpp
  src/esp/physics/RigidBase.h
  src/esp/physics/bullet/BulletRigidObject.cpp
Due: clang-format

Added overlapping pair query to activateSimulationIsland to address STATIC object bug. Adapted test to account for this.
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/tests/PhysicsTest.cpp
Due: clang-format

Pathfinder bugfix
  src/esp/nav/PathFinder.cpp
Due: clang-format

--Specify function pointer cast for load_configs.
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Add more clang_tidy_fixes
  .clang-tidy
  src/esp/bindings/GfxBindings.cpp
  src/esp/scene/Mp3dSemanticScene.cpp
  src/esp/scene/SuncgSemanticScene.cpp
Due: clang-format

Add backwards compatability for scene.id
  src/esp/bindings/SimBindings.cpp
Due: clang-format

Add a few more CORRADE_UNUSED
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

Pathfinder bugfix (#914)
  src/esp/nav/PathFinder.cpp
Due: clang-format

Incorporate reviewer feedback
  src/esp/bindings/GfxBindings.cpp
  src/esp/scene/Mp3dSemanticScene.cpp
  src/esp/scene/SuncgSemanticScene.cpp
Due: clang-format

Further remove CORRADE_UNUSED
  src/esp/metadata/managers/LightLayoutAttributesManager.cpp
  src/esp/metadata/managers/SceneAttributesManager.cpp
Due: clang-format

Enable a few more modernizations
  .clang-tidy
  src/esp/geo/CoordinateFrame.cpp
  src/esp/geo/CoordinateFrame.h
  src/esp/geo/OBB.cpp
  src/esp/geo/OBB.h
  src/esp/gfx/DrawableGroup.cpp
Due: clang-format

--Add missing comma in bindings after context help
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Clang-format
  src/esp/geo/CoordinateFrame.cpp
  src/esp/geo/CoordinateFrame.h
  src/esp/geo/OBB.cpp
  src/esp/geo/OBB.h
Due: clang-format

Add missing pybind constructor init
  src/esp/bindings/GeoBindings.cpp
  src/esp/geo/OBB.cpp
  src/esp/geo/OBB.h
Due: clang-format

Added overlapping pair query to activateSimulationIsland to address STATIC object bug. Adapted test to account for this. (#913)
  src/esp/physics/bullet/BulletRigidObject.cpp
  src/tests/PhysicsTest.cpp
Due: clang-format

Make clang-tidy less strict
  .clang-tidy
  src/esp/scene/Mp3dSemanticScene.cpp
Due: clang-format

Forgot my &
  src/esp/bindings/SimBindings.cpp
Due: clang-format

Revert coordinateframe changes
  src/esp/geo/CoordinateFrame.cpp
  src/esp/geo/CoordinateFrame.h
Due: clang-format

[BUG FIX] Attributes manager bindings load objects missing comma (#917)
  src/esp/bindings/AttributesManagersBindings.cpp
Due: clang-format

Revert "--Temporarily Update configuration to test against hab-lab PR 516"
  .circleci/config.yml
Due: none

--Temp change to ci config to debug segfault
  .circleci/config.yml
Due: none

--Refactor configuration scene id in colab tutorials
  examples/tutorials/colabs/ECCV_2020_Advanced_Features.ipynb
  examples/tutorials/colabs/ECCV_2020_Interactivity.ipynb
  examples/tutorials/colabs/ECCV_2020_Navigation.ipynb
  examples/tutorials/colabs/rigid_object_tutorial.ipynb
  examples/tutorials/nb_python/ECCV_2020_Advanced_Features.py
  examples/tutorials/nb_python/ECCV_2020_Interactivity.py
  examples/tutorials/nb_python/ECCV_2020_Navigation.py
  examples/tutorials/nb_python/rigid_object_tutorial.py
Due: jupytext-sync

--missed ref in viewer
  src/utils/viewer/viewer.cpp
Due: clang-format

--revert most changes to config.yaml except to timeout.
  .circleci/config.yml
Due: none

Path conditions:
  jupytext-sync: any of: ^examples/tutorials/(colabs|nb_python)/(.*\.py|.*\.ipynb)$, but not: build|data/datasets|data/scene_datasets|src/deps|src/obsolete
  clang-format: any of: .*\.(cpp|h|hpp|cu|cuh)$ and not (src/deps) and not (build|data/datasets|data/scene_datasets|src/deps|src/obsolete)
